Import libraries and upload data from nflverse github

In [1]:
#Import package
from urllib.request import urlretrieve

#Import Pandas
import pandas as pd

#Import Numpy
import numpy as np

#Import Matplotlib
import matplotlib.pyplot as plt

#Import Seaborn
import seaborn as sns

import sys
!{sys.executable} -m pip install python-dotenv requests

#Import requests
import requests

#Import datetime
from datetime import datetime


#Import beautifulsoup
from bs4 import BeautifulSoup

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-dotenv in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (1.0.1)
Requirement already satisfied: requests in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (2.32.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from requests) (2024.12.14)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from requests) (2.3.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from requests) (3.10)
WARNING: You are using pip version 21.2.4; however, version 25.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

/Users/jonathan/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
#Assign Url of the file: Url
Url = "https://raw.githubusercontent.com/nflverse/nfldata/refs/heads/master/data/games.csv"

#Save the file locally
urlretrieve(Url, 'games.csv')

#Read file into a DataFrame and print head
games = pd.read_csv('games.csv')
print(games.head())

           game_id  season game_type  week     gameday weekday gametime  \
0  1999_01_MIN_ATL    1999       REG     1  1999-09-12  Sunday      NaN
1   1999_01_KC_CHI    1999       REG     1  1999-09-12  Sunday      NaN
2  1999_01_PIT_CLE    1999       REG     1  1999-09-12  Sunday      NaN
3   1999_01_OAK_GB    1999       REG     1  1999-09-12  Sunday      NaN
4  1999_01_BUF_IND    1999       REG     1  1999-09-12  Sunday      NaN

  away_team  away_score home_team  ...  wind  away_qb_id  home_qb_id  \
0       MIN        17.0       ATL  ...   NaN  00-0003761  00-0002876
1        KC        17.0       CHI  ...  12.0  00-0006300  00-0010560
2       PIT        43.0       CLE  ...  12.0  00-0015700  00-0004230
3       OAK        24.0        GB  ...  10.0  00-0005741  00-0005106
4       BUF        14.0       IND  ...   NaN  00-0005363  00-0010346

         away_qb_name    home_qb_name          away_coach    home_coach  \
0  Randall Cunningham  Chris Chandler        Dennis Green    Dan Reeves
1         Elvis Grbac  Shane Matthews  Gunther Cunningham   Dick Jauron
2     Kordell Stewart       Ty Detmer         Bill Cowher  Chris Palmer
3         Rich Gannon     Brett Favre          Jon Gruden    Ray Rhodes
4         Doug Flutie  Peyton Manning       Wade Phillips      Jim Mora

         referee stadium_id                   stadium
0   Gerry Austin      ATL00              Georgia Dome
1   Phil Luckett      CHI98             Soldier Field
2    Bob McElwee      CLE00  Cleveland Browns Stadium
3  Tony Corrente      GNB00             Lambeau Field
4       Ron Blum      IND99                  RCA Dome

[5 rows x 46 columns]

In [3]:
#Print info of the data
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6991 entries, 0 to 6990
Data columns (total 46 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_id           6991 non-null   object
 1   season            6991 non-null   int64
 2   game_type         6991 non-null   object
 3   week              6991 non-null   int64
 4   gameday           6991 non-null   object
 5   weekday           6991 non-null   object
 6   gametime          6732 non-null   object
 7   away_team         6991 non-null   object
 8   away_score        6990 non-null   float64
 9   home_team         6991 non-null   object
 10  home_score        6990 non-null   float64
 11  location          6991 non-null   object
 12  result            6990 non-null   float64
 13  total             6990 non-null   float64
 14  overtime          6990 non-null   float64
 15  old_game_id       6991 non-null   int64
 16  gsis              6990 non-null   float64
 17  nfl_detail_id     272 non-null    object
 18  pfr               6991 non-null   object
 19  pff               4292 non-null   float64
 20  espn              6991 non-null   int64
 21  ftn               1376 non-null   float64
 22  away_rest         6991 non-null   int64
 23  home_rest         6991 non-null   int64
 24  away_moneyline    5010 non-null   float64
 25  home_moneyline    5010 non-null   float64
 26  spread_line       6991 non-null   float64
 27  away_spread_odds  5010 non-null   float64
 28  home_spread_odds  5010 non-null   float64
 29  total_line        6991 non-null   float64
 30  under_odds        5007 non-null   float64
 31  over_odds         5007 non-null   float64
 32  div_game          6991 non-null   int64
 33  roof              6991 non-null   object
 34  surface           6948 non-null   object
 35  temp              5016 non-null   float64
 36  wind              5016 non-null   float64
 37  away_qb_id        6991 non-null   object
 38  home_qb_id        6991 non-null   object
 39  away_qb_name      6991 non-null   object
 40  home_qb_name      6991 non-null   object
 41  away_coach        6991 non-null   object
 42  home_coach        6991 non-null   object
 43  referee           6989 non-null   object
 44  stadium_id        6991 non-null   object
 45  stadium           6991 non-null   object
dtypes: float64(18), int64(7), object(21)
memory usage: 2.5+ MB

In [4]:
#Shape of the data
games.shape

(6991, 46)

In [5]:
#print value counts of location column to check if games are duplicated home/away
games.location.value_counts()

location
Home       6905
Neutral      86
Name: count, dtype: int64

More neutral games here than just superbowls, what are the other neutral games?

In [6]:
#Determine what Neutral games are
#Filter for neutral games and display stadium info, and game type
neutral_games = games[games.location == 'Neutral'][['game_id', 'stadium', 'game_type']]
print(neutral_games)

              game_id                  stadium game_type
258   1999_21_STL_TEN             Georgia Dome        SB
517   2000_21_BAL_NYG    Raymond James Stadium        SB
776    2001_21_STL_NE      Louisiana Superdome        SB
1043   2002_21_OAK_TB         Qualcomm Stadium        SB
1159   2003_08_MIA_SD        Sun Devil Stadium       REG
...               ...                      ...       ...
6785  2024_06_JAX_CHI        Tottenham Stadium       REG
6799   2024_07_NE_JAX          Wembley Stadium       REG
6845  2024_10_NYG_CAR            Allianz Arena       REG
6983   2024_19_MIN_LA       State Farm Stadium        WC
6990   2024_22_KC_PHI  Mercedes-Benz Superdome        SB

[86 rows x 3 columns]

It seems like most of these are games played abroad, and 2 games played to avoid wildfires, 2003 MIA @ SD regular season game and 2024 MIN @ LA wildcard game, however SD no longer has a team, I should check what teams are in this data

In [7]:
#How many teams are there?
games.home_team.value_counts()

home_team
NE     239
PHI    232
KC     230
GB     226
PIT    225
SEA    224
IND    223
DEN    221
NO     221
SF     221
TB     221
BAL    220
BUF    219
CHI    218
ATL    217
TEN    217
DAL    217
MIN    217
NYG    216
CAR    216
CIN    216
ARI    215
WAS    214
JAX    214
DET    213
MIA    213
NYJ    211
CLE    210
HOU    194
OAK    173
SD     149
STL    141
LA      80
LAC     66
LV      42
Name: count, dtype: int64

Teams have moved cities since 1999, when the data begins, OAK to LV, STL to LA, and SD to LAC, these teams should be combinded

In [8]:
#Combine teams that have moved cities for home_team and away_team
games.home_team.replace({'OAK': 'LV', 'STL': 'LA', 'SD': 'LAC'}, inplace=True)
games.away_team.replace({'OAK': 'LV', 'STL': 'LA', 'SD': 'LAC'}, inplace=True)

#check value counts of home_team and away_team
print(games.home_team.value_counts())
print(games.away_team.value_counts())

home_team
NE     239
PHI    232
KC     230
GB     226
PIT    225
SEA    224
IND    223
DEN    221
NO     221
SF     221
LA     221
TB     221
BAL    220
BUF    219
CHI    218
MIN    217
DAL    217
ATL    217
TEN    217
CIN    216
CAR    216
NYG    216
LV     215
LAC    215
ARI    215
WAS    214
JAX    214
DET    213
MIA    213
NYJ    211
CLE    210
HOU    194
Name: count, dtype: int64
away_team
BAL    232
GB     226
IND    225
SEA    225
PIT    224
NE     223
PHI    223
NYG    222
SF     222
LA     222
NYJ    221
TEN    221
MIN    220
CAR    219
KC     219
LAC    219
DAL    218
NO     218
TB     218
ATL    217
WAS    217
CIN    217
JAX    216
MIA    216
DEN    215
DET    215
ARI    215
BUF    215
CLE    214
LV     214
CHI    211
HOU    192
Name: count, dtype: int64

/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_33387/2999817110.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games.home_team.replace({'OAK': 'LV', 'STL': 'LA', 'SD': 'LAC'}, inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_33387/2999817110.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games.away_team.replace({'OAK': 'LV', 'STL': 'LA', 'SD': 'LAC'}, inplace=True)

In [9]:
#Check for null values in each column
print(games.isnull().sum().sort_values(ascending=False))

nfl_detail_id       6719
ftn                 5615
pff                 2699
under_odds          1984
over_odds           1984
home_moneyline      1981
away_moneyline      1981
away_spread_odds    1981
home_spread_odds    1981
temp                1975
wind                1975
gametime             259
surface               43
referee                2
total                  1
away_score             1
home_score             1
result                 1
overtime               1
gsis                   1
div_game               0
roof                   0
game_id                0
home_qb_id             0
away_qb_name           0
home_qb_name           0
away_coach             0
home_coach             0
stadium_id             0
away_qb_id             0
home_rest              0
total_line             0
spread_line            0
season                 0
away_rest              0
espn                   0
pfr                    0
old_game_id            0
location               0
home_team              0
away_team              0
weekday                0
gameday                0
week                   0
game_type              0
stadium                0
dtype: int64

In [10]:
#Display row with missing scores
print(games[games.home_score.isnull() | games.away_score.isnull()][['game_id', 'home_team', 'away_team', 'home_score', 'away_score', 'gameday']])

             game_id home_team away_team  home_score  away_score     gameday
6990  2024_22_KC_PHI       PHI        KC         NaN         NaN  2025-02-09

The 2024 SB has not been played yet, so it is not a problem that the scores are missing.

Missing values for gambling lines can be ignored for now, as the goal for the model is to predict the outcome of the game.
They may be useful later, so I will keep them to the side.

PFF and PTN are ID numbers for premium databases, so they will be ignored in this project.

Game time is missing just for the 1999 season, this can be fixed with another dataset.

First wind and temp data can be checked.

In [ ]:
#Check for missing wind and temperature values
print("Rows with missing wind values:")
print(games[games.wind.isnull()][['game_id', 'home_team', 'away_team', 'gameday', 'wind']])
print("\nRows with missing temperature values:")
print(games[games.temp.isnull()][['game_id', 'home_team', 'away_team', 'gameday', 'temp']])

Rows with missing wind values:
              game_id home_team away_team     gameday  wind
0     1999_01_MIN_ATL       ATL       MIN  1999-09-12   NaN
4     1999_01_BUF_IND       IND       BUF  1999-09-12   NaN
6      1999_01_CAR_NO        NO       CAR  1999-09-12   NaN
9     1999_01_DET_SEA       SEA       DET  1999-09-12   NaN
10    1999_01_BAL_STL        LA       BAL  1999-09-12   NaN
...               ...       ...       ...         ...   ...
6977  2024_18_MIN_DET       DET       MIN  2025-01-05   NaN
6978  2024_19_LAC_HOU       HOU       LAC  2025-01-11   NaN
6983   2024_19_MIN_LA        LA       MIN  2025-01-13   NaN
6985  2024_20_WAS_DET       DET       WAS  2025-01-18   NaN
6990   2024_22_KC_PHI       PHI        KC  2025-02-09   NaN

[1975 rows x 5 columns]

Rows with missing temperature values:
              game_id home_team away_team     gameday  temp
0     1999_01_MIN_ATL       ATL       MIN  1999-09-12   NaN
4     1999_01_BUF_IND       IND       BUF  1999-09-12   NaN
6      1999_01_CAR_NO        NO       CAR  1999-09-12   NaN
9     1999_01_DET_SEA       SEA       DET  1999-09-12   NaN
10    1999_01_BAL_STL        LA       BAL  1999-09-12   NaN
...               ...       ...       ...         ...   ...
6977  2024_18_MIN_DET       DET       MIN  2025-01-05   NaN
6978  2024_19_LAC_HOU       HOU       LAC  2025-01-11   NaN
6983   2024_19_MIN_LA        LA       MIN  2025-01-13   NaN
6985  2024_20_WAS_DET       DET       WAS  2025-01-18   NaN
6990   2024_22_KC_PHI       PHI        KC  2025-02-09   NaN

[1975 rows x 5 columns]

Some of these stadiums are domes, so the wind and temperature will be missing for these. If they are games played in a closed dome I will impute 0 for wind and 70 for temp, the average indoor nfl stadium temperature.

In [12]:
#Check unique values for roof
print("\nUnique values for roof:")
print(games.roof.value_counts())

Unique values for roof:
roof
outdoors    5140
dome        1144
closed       579
open         128
Name: count, dtype: int64

In [13]:
#Display rows where roof is open or closed
print("\nRows where roof is open or closed:")
print(games[games.roof.isin(['open', 'closed'])][['game_id', 'home_team', 'away_team', 'gameday', 'roof']])

Rows where roof is open or closed:
              game_id home_team away_team     gameday    roof
791   2002_01_DAL_HOU       HOU       DAL  2002-09-08  closed
810   2002_03_IND_HOU       HOU       IND  2002-09-22    open
853   2002_06_BUF_HOU       HOU       BUF  2002-10-13  closed
898   2002_09_CIN_HOU       HOU       CIN  2002-11-03  closed
923   2002_11_JAX_HOU       HOU       JAX  2002-11-17    open
...               ...       ...       ...         ...     ...
6965  2024_18_WAS_DAL       DAL       WAS  2025-01-05  closed
6967  2024_18_JAX_IND       IND       JAX  2025-01-05  closed
6972   2024_18_SF_ARI       ARI        SF  2025-01-05  closed
6978  2024_19_LAC_HOU       HOU       LAC  2025-01-11  closed
6983   2024_19_MIN_LA        LA       MIN  2025-01-13  closed

[707 rows x 5 columns]

In [14]:
# Impute wind and temp values for indoor stadiums
games.loc[(games.wind.isnull()) & (games.roof.isin(['dome', 'closed'])), 'wind'] = 0
games.loc[(games.temp.isnull()) & (games.roof.isin(['dome', 'closed'])), 'temp'] = 70
# Check remaining missing values
print("\nRemaining rows with missing wind values:")
print(games[games.wind.isnull()][['game_id', 'home_team', 'away_team', 'gameday', 'wind', 'roof']])
print("\nRemaining rows with missing temperature values:") 
print(games[games.temp.isnull()][['game_id', 'home_team', 'away_team', 'gameday', 'temp', 'roof']])

Remaining rows with missing wind values:
              game_id home_team away_team     gameday  wind      roof
334   2000_06_BUF_MIA       MIA       BUF  2000-10-08   NaN  outdoors
467    2000_15_CAR_KC        KC       CAR  2000-12-10   NaN  outdoors
810   2002_03_IND_HOU       HOU       IND  2002-09-22   NaN      open
923   2002_11_JAX_HOU       HOU       JAX  2002-11-17   NaN      open
949   2002_12_NYG_HOU       HOU       NYG  2002-11-24   NaN      open
...               ...       ...       ...         ...   ...       ...
6707   2024_01_GB_PHI       PHI        GB  2024-09-06   NaN  outdoors
6845  2024_10_NYG_CAR       CAR       NYG  2024-11-10   NaN  outdoors
6891  2024_13_HOU_JAX       JAX       HOU  2024-12-01   NaN  outdoors
6918  2024_15_NYJ_JAX       JAX       NYJ  2024-12-15   NaN  outdoors
6961   2024_17_DET_SF        SF       DET  2024-12-30   NaN  outdoors

[252 rows x 6 columns]

Remaining rows with missing temperature values:
              game_id home_team away_team     gameday  temp      roof
334   2000_06_BUF_MIA       MIA       BUF  2000-10-08   NaN  outdoors
467    2000_15_CAR_KC        KC       CAR  2000-12-10   NaN  outdoors
810   2002_03_IND_HOU       HOU       IND  2002-09-22   NaN      open
923   2002_11_JAX_HOU       HOU       JAX  2002-11-17   NaN      open
949   2002_12_NYG_HOU       HOU       NYG  2002-11-24   NaN      open
...               ...       ...       ...         ...   ...       ...
6707   2024_01_GB_PHI       PHI        GB  2024-09-06   NaN  outdoors
6845  2024_10_NYG_CAR       CAR       NYG  2024-11-10   NaN  outdoors
6891  2024_13_HOU_JAX       JAX       HOU  2024-12-01   NaN  outdoors
6918  2024_15_NYJ_JAX       JAX       NYJ  2024-12-15   NaN  outdoors
6961   2024_17_DET_SF        SF       DET  2024-12-30   NaN  outdoors

[252 rows x 6 columns]

Ill use averages for the remaining missing wind and temp since its only about 250 games out of about 7000

In [15]:
#Games with outdoor or open stadium in roof column
games_filtered = games[games['roof'].isin(["open", "outdoors"])]

#Calculate mean of 'wind' and 'temp' columns from filtered rows
mean_wind = games_filtered['wind'].mean()
mean_temp = games_filtered['wind'].mean()

#Impute missing values from calculated average
games['wind'].fillna(mean_wind, inplace=True)
games['temp'].fillna(mean_temp, inplace=True)

# Check remaining missing values
print("\nRemaining rows with missing wind values:")
print(games[games.wind.isnull()][['game_id', 'home_team', 'away_team', 'gameday', 'wind', 'roof']])
print("\nRemaining rows with missing temperature values:") 
print(games[games.temp.isnull()][['game_id', 'home_team', 'away_team', 'gameday', 'temp', 'roof']])

Remaining rows with missing wind values:
Empty DataFrame
Columns: [game_id, home_team, away_team, gameday, wind, roof]
Index: []

Remaining rows with missing temperature values:
Empty DataFrame
Columns: [game_id, home_team, away_team, gameday, temp, roof]
Index: []

/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_33387/3996895605.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games['wind'].fillna(mean_wind, inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_33387/3996895605.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games['temp'].fillna(mean_temp, inplace=True)

In [16]:
# Check for missing game times
print("Rows with missing game times:")
print(games[games.gametime.isnull()][['game_id', 'home_team', 'away_team', 'gameday', 'gametime']])

Rows with missing game times:
             game_id home_team away_team     gameday gametime
0    1999_01_MIN_ATL       ATL       MIN  1999-09-12      NaN
1     1999_01_KC_CHI       CHI        KC  1999-09-12      NaN
2    1999_01_PIT_CLE       CLE       PIT  1999-09-12      NaN
3     1999_01_OAK_GB        GB        LV  1999-09-12      NaN
4    1999_01_BUF_IND       IND       BUF  1999-09-12      NaN
..               ...       ...       ...         ...      ...
254  1999_19_TEN_IND       IND       TEN  2000-01-16      NaN
255  1999_19_MIN_STL        LA       MIN  2000-01-16      NaN
256  1999_20_TEN_JAX       JAX       TEN  2000-01-23      NaN
257   1999_20_TB_STL        LA        TB  2000-01-23      NaN
258  1999_21_STL_TEN       TEN        LA  2000-01-30      NaN

[259 rows x 5 columns]

To get times I will be bringing in another dataframe from pro football reference and taking times from there.

In [17]:
url2 = 'https://www.pro-football-reference.com/years/1999/games.htm#games'
# Send GET request and create BeautifulSoup object
response = requests.get(url2)
soup = BeautifulSoup(response.content, 'html.parser')

# Find the main games table
table = soup.find('table', id='games')

# Initialize lists to store data
data = []

# Extract data from table rows
for row in table.find_all('tr')[1:]:  # Skip header row
    cols = row.find_all(['th', 'td'])
    if len(cols) > 0:
        week = cols[0].text.strip()
        day = cols[1].text.strip()
        date = cols[2].text.strip()
        time = cols[3].text.strip()
        winner = cols[4].text.strip()
        loser = cols[6].text.strip()
        pts_w = cols[7].text.strip()
        pts_l = cols[8].text.strip()
        yds_w = cols[9].text.strip()
        to_w = cols[10].text.strip()
        yds_l = cols[11].text.strip()
        to_l = cols[12].text.strip()
        
        data.append([week, day, date, time, winner, loser, pts_w, pts_l, yds_w, to_w, yds_l, to_l])

# Create DataFrame
games1999 = pd.DataFrame(data, columns=['Week', 'Day', 'Date', 'Time', 'Winner', 'Loser', 
                                      'PtsW', 'PtsL', 'YdsW', 'TOW', 'YdsL', 'TOL'])
 #print games1999 head
print(games1999.head())
print(games1999.info())
print(games1999.shape)

  Week  Day        Date    Time              Winner                Loser  \
0    1  Sun  1999-09-12  1:00PM      Dallas Cowboys  Washington Redskins
1    1  Sun  1999-09-12  1:02PM  Indianapolis Colts        Buffalo Bills
2    1  Sun  1999-09-12  1:02PM  New Orleans Saints    Carolina Panthers
3    1  Sun  1999-09-12  1:02PM       Chicago Bears   Kansas City Chiefs
4    1  Sun  1999-09-12  1:02PM   Green Bay Packers      Oakland Raiders

       PtsW PtsL YdsW  TOW YdsL  TOL
0  boxscore   41   35  541    3  504
1  boxscore   31   14  393    3  321
2  boxscore   19   10  255    0  246
3  boxscore   20   17  388    2  349
4  boxscore   28   24  409    4  363
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week    276 non-null    object
 1   Day     276 non-null    object
 2   Date    276 non-null    object
 3   Time    276 non-null    object
 4   Winner  276 non-null    object
 5   Loser   276 non-null    object
 6   PtsW    276 non-null    object
 7   PtsL    276 non-null    object
 8   YdsW    276 non-null    object
 9   TOW     276 non-null    object
 10  YdsL    276 non-null    object
 11  TOL     276 non-null    object
dtypes: object(12)
memory usage: 26.0+ KB
None
(276, 12)

In [18]:
# Create dictionary for team name to abbreviation mapping
team_mapping = {
    'Arizona Cardinals': 'ARI', 'Atlanta Falcons': 'ATL', 'Baltimore Ravens': 'BAL', 
    'Buffalo Bills': 'BUF', 'Carolina Panthers': 'CAR', 'Chicago Bears': 'CHI',
    'Cincinnati Bengals': 'CIN', 'Cleveland Browns': 'CLE', 'Dallas Cowboys': 'DAL',
    'Denver Broncos': 'DEN', 'Detroit Lions': 'DET', 'Green Bay Packers': 'GB',
    'Houston Texans': 'HOU', 'Indianapolis Colts': 'IND', 'Jacksonville Jaguars': 'JAX',
    'Kansas City Chiefs': 'KC', 'Los Angeles Chargers': 'LAC', 'Los Angeles Rams': 'LA',
    'Las Vegas Raiders': 'LV', 'Miami Dolphins': 'MIA', 'Minnesota Vikings': 'MIN',
    'New England Patriots': 'NE', 'New Orleans Saints': 'NO', 'New York Giants': 'NYG',
    'New York Jets': 'NYJ', 'Philadelphia Eagles': 'PHI', 'Pittsburgh Steelers': 'PIT',
    'San Francisco 49ers': 'SF', 'Seattle Seahawks': 'SEA', 'Tampa Bay Buccaneers': 'TB',
    'Tennessee Titans': 'TEN', 'Washington Commanders': 'WAS',
    # Add historical team names
    'Oakland Raiders': 'LV', 'San Diego Chargers': 'LAC', 'St. Louis Rams': 'LA',
    'Washington Redskins': 'WAS', 'Washington Football Team': 'WAS'
}

# Replace team names with abbreviations
games1999['Winner'] = games1999['Winner'].replace(team_mapping)
games1999['Loser'] = games1999['Loser'].replace(team_mapping)

# Verify the changes
print("\nAfter team name conversion:")
print(games1999[['Winner', 'Loser']].head())

After team name conversion:
  Winner Loser
0    DAL   WAS
1    IND   BUF
2     NO   CAR
3    CHI    KC
4     GB    LV

In [19]:
#Check unique values of Time
print("Unique time values:")
print(games1999['Time'].unique())

# Define a function to convert time to 24-hour format
def convert_to_24hr(time_str):
    try:
        # Remove any extra spaces
        time_str = time_str.strip()
        # Convert to datetime using pandas
        time_obj = pd.to_datetime(time_str).strftime('%H:%M')
        return time_obj
    except:
        return time_str  # Return original if conversion fails

# Apply the conversion
games1999['Time'] = games1999['Time'].apply(convert_to_24hr)

# Check the results
print("\nAfter conversion:")
print(games1999['Time'].head())

Unique time values:
['1:00PM' '1:02PM' '1:03PM' '1:04PM' '4:15PM' '4:16PM' '8:26PM' '9:07PM'
 'Time' '1:01PM' '4:05PM' '8:22PM' '8:23PM' '8:08PM' '1:05PM' '4:18PM'
 '8:24PM' '4:06PM' '4:17PM' '9:09PM' '8:21PM' '1:06PM' '5:15PM' '2:00PM'
 '2:55PM' '8:20PM' '9:10PM' '12:00PM' '12:03PM' '9:08PM' '5:05PM'
 '11:07PM' '12:35PM' '1:10PM' '4:07PM' '1:15PM' '9:05PM' '2:05PM'
 '12:41PM' '2:15PM' '6:23PM' '9:15PM' '3:00PM' '' '12:32PM' '12:42PM'
 '4:22PM' '6:25PM']

After conversion:
0    13:00
1    13:02
2    13:02
3    13:02
4    13:02
Name: Time, dtype: object

In [20]:
# Get unique values from gametime column
print("Unique game times:")
print(games['gametime'].unique())

Unique game times:
[nan '13:00' '16:05' '16:15' '20:20' '09:00' '12:00' '15:05' '15:15'
 '13:05' '12:30' '16:00' '18:18' '20:30' '13:30' '17:00' '16:30' '20:00'
 '18:40' '15:00' '18:30' '20:15' '14:00' '16:45' '18:45' '18:25' '19:30'
 '19:00' '22:15' '16:25' '16:35' '20:25' '19:10' '22:25' '20:40' '18:31'
 '16:40' '18:32' '21:15' '19:20' '23:30' '20:10' '21:20' '09:30' '18:50'
 '22:20' '21:30' '16:36' '18:41' '19:15' '22:10' '19:05' '21:00' '15:40'
 '20:05' '16:50']

In [21]:
print(games[games['gametime'].isnull()])

             game_id  season game_type  week     gameday weekday gametime  \
0    1999_01_MIN_ATL    1999       REG     1  1999-09-12  Sunday      NaN
1     1999_01_KC_CHI    1999       REG     1  1999-09-12  Sunday      NaN
2    1999_01_PIT_CLE    1999       REG     1  1999-09-12  Sunday      NaN
3     1999_01_OAK_GB    1999       REG     1  1999-09-12  Sunday      NaN
4    1999_01_BUF_IND    1999       REG     1  1999-09-12  Sunday      NaN
..               ...     ...       ...   ...         ...     ...      ...
254  1999_19_TEN_IND    1999       DIV    19  2000-01-16  Sunday      NaN
255  1999_19_MIN_STL    1999       DIV    19  2000-01-16  Sunday      NaN
256  1999_20_TEN_JAX    1999       CON    20  2000-01-23  Sunday      NaN
257   1999_20_TB_STL    1999       CON    20  2000-01-23  Sunday      NaN
258  1999_21_STL_TEN    1999        SB    21  2000-01-30  Sunday      NaN

    away_team  away_score home_team  ...  wind  away_qb_id  home_qb_id  \
0         MIN        17.0       ATL  ...   0.0  00-0003761  00-0002876
1          KC        17.0       CHI  ...  12.0  00-0006300  00-0010560
2         PIT        43.0       CLE  ...  12.0  00-0015700  00-0004230
3          LV        24.0        GB  ...  10.0  00-0005741  00-0005106
4         BUF        14.0       IND  ...   0.0  00-0005363  00-0010346
..        ...         ...       ...  ...   ...         ...         ...
254       TEN        19.0       IND  ...   0.0  00-0011024  00-0010346
255       MIN        37.0        LA  ...   0.0  00-0005885  00-0017200
256       TEN        33.0       JAX  ...  12.0  00-0011024  00-0002110
257        TB         6.0        LA  ...   0.0  00-0009266  00-0017200
258        LA        23.0       TEN  ...   0.0  00-0017200  00-0011024

           away_qb_name    home_qb_name          away_coach    home_coach  \
0    Randall Cunningham  Chris Chandler        Dennis Green    Dan Reeves
1           Elvis Grbac  Shane Matthews  Gunther Cunningham   Dick Jauron
2       Kordell Stewart       Ty Detmer         Bill Cowher  Chris Palmer
3           Rich Gannon     Brett Favre          Jon Gruden    Ray Rhodes
4           Doug Flutie  Peyton Manning       Wade Phillips      Jim Mora
..                  ...             ...                 ...           ...
254        Steve McNair  Peyton Manning         Jeff Fisher      Jim Mora
255         Jeff George     Kurt Warner        Dennis Green  Dick Vermeil
256        Steve McNair    Mark Brunell         Jeff Fisher  Tom Coughlin
257          Shaun King     Kurt Warner          Tony Dungy  Dick Vermeil
258         Kurt Warner    Steve McNair        Dick Vermeil   Jeff Fisher

           referee stadium_id                   stadium
0     Gerry Austin      ATL00              Georgia Dome
1     Phil Luckett      CHI98             Soldier Field
2      Bob McElwee      CLE00  Cleveland Browns Stadium
3    Tony Corrente      GNB00             Lambeau Field
4         Ron Blum      IND99                  RCA Dome
..             ...        ...                       ...
254   Johnny Grier      IND99                  RCA Dome
255   Walt Coleman      STL00                  TWA Dome
256   Bernie Kukar      JAX00            Alltel Stadium
257   Bill Carollo      STL00                  TWA Dome
258    Bob McElwee      ATL00              Georgia Dome

[259 rows x 46 columns]

We will add a winner column now

In [22]:
# Create Winner column based on scores and teams
games['Winner'] = games.apply(lambda row: 
    row['home_team'] if row['home_score'] > row['away_score']
    else row['away_team'] if row['away_score'] > row['home_score']
    else 'Tie', axis=1)

# Verify the results
print("\nSample of Winners:")
print(games[['home_team', 'away_team', 'home_score', 'away_score', 'Winner']].head())

Sample of Winners:
  home_team away_team  home_score  away_score Winner
0       ATL       MIN        14.0        17.0    MIN
1       CHI        KC        20.0        17.0    CHI
2       CLE       PIT         0.0        43.0    PIT
3        GB        LV        28.0        24.0     GB
4       IND       BUF        31.0        14.0    IND

In [23]:
# Create a mapping of game details to times from games1999
time_mapping = games1999.set_index(['Winner', 'Date'])['Time'].to_dict()

# Function to look up time based on winner and date
def get_time(row):
    if pd.isna(row['gametime']):
        try:
            # Try to find matching game in 1999 data
            return time_mapping.get((row['Winner'], row['gameday']))
        except:
            return row['gametime']
    return row['gametime']

# Fill missing times
games['gametime'] = games.apply(get_time, axis=1)

# Check results
print("\nMissing times after filling:")
print(games['gametime'].isna().sum())
print("\nSample of filled times:")
print(games[['gameday', 'Winner', 'gametime']].head())

Missing times after filling:
0

Sample of filled times:
      gameday Winner gametime
0  1999-09-12    MIN    16:15
1  1999-09-12    CHI    13:02
2  1999-09-12    PIT    20:26
3  1999-09-12     GB    13:02
4  1999-09-12    IND    13:02

Times are now filled in, wind and temp is done.

In [24]:
print(games.isnull().sum().sort_values(ascending=False))

nfl_detail_id       6719
ftn                 5615
pff                 2699
under_odds          1984
over_odds           1984
home_moneyline      1981
away_moneyline      1981
away_spread_odds    1981
home_spread_odds    1981
surface               43
referee                2
away_score             1
result                 1
total                  1
overtime               1
gsis                   1
home_score             1
div_game               0
roof                   0
temp                   0
game_id                0
wind                   0
home_qb_id             0
away_qb_name           0
home_qb_name           0
away_coach             0
home_coach             0
stadium_id             0
stadium                0
away_qb_id             0
home_rest              0
total_line             0
spread_line            0
season                 0
away_rest              0
espn                   0
pfr                    0
old_game_id            0
location               0
home_team              0
away_team              0
gametime               0
weekday                0
gameday                0
week                   0
game_type              0
Winner                 0
dtype: int64

Now we will drop columns we know we won't be using for this project, and adding in data for yards and turnovers from each game.

In [25]:
#List of columns to drop
todrop = ['gsis', 'nfl_detail_id', 'pfr', 'pff', 'espn', 'ftn', 'surface', 'away_qb_id',	'home_qb_id', 'away_qb_name', 'home_qb_name', 'away_coach', 'home_coach', 'referee']

#Drop columns
games.drop(todrop, axis=1, inplace=True)

In [26]:
#Check new datframe info
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6991 entries, 0 to 6990
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_id           6991 non-null   object
 1   season            6991 non-null   int64
 2   game_type         6991 non-null   object
 3   week              6991 non-null   int64
 4   gameday           6991 non-null   object
 5   weekday           6991 non-null   object
 6   gametime          6991 non-null   object
 7   away_team         6991 non-null   object
 8   away_score        6990 non-null   float64
 9   home_team         6991 non-null   object
 10  home_score        6990 non-null   float64
 11  location          6991 non-null   object
 12  result            6990 non-null   float64
 13  total             6990 non-null   float64
 14  overtime          6990 non-null   float64
 15  old_game_id       6991 non-null   int64
 16  away_rest         6991 non-null   int64
 17  home_rest         6991 non-null   int64
 18  away_moneyline    5010 non-null   float64
 19  home_moneyline    5010 non-null   float64
 20  spread_line       6991 non-null   float64
 21  away_spread_odds  5010 non-null   float64
 22  home_spread_odds  5010 non-null   float64
 23  total_line        6991 non-null   float64
 24  under_odds        5007 non-null   float64
 25  over_odds         5007 non-null   float64
 26  div_game          6991 non-null   int64
 27  roof              6991 non-null   object
 28  temp              6991 non-null   float64
 29  wind              6991 non-null   float64
 30  stadium_id        6991 non-null   object
 31  stadium           6991 non-null   object
 32  Winner            6991 non-null   object
dtypes: float64(15), int64(6), object(12)
memory usage: 1.8+ MB

In [27]:
games.head()

,game_id,season,game_type,week,gameday,weekday,gametime,away_team,away_score,home_team,...,total_line,under_odds,over_odds,div_game,roof,temp,wind,stadium_id,stadium,Winner
0,1999_01_MIN_ATL,1999,REG,1,1999-09-12,Sunday,16:15,MIN,17.0,ATL,...,49.0,NaN,NaN,0,dome,70.0,0.0,ATL00,Georgia Dome,MIN
1,1999_01_KC_CHI,1999,REG,1,1999-09-12,Sunday,13:02,KC,17.0,CHI,...,38.0,NaN,NaN,0,outdoors,80.0,12.0,CHI98,Soldier Field,CHI
2,1999_01_PIT_CLE,1999,REG,1,1999-09-12,Sunday,20:26,PIT,43.0,CLE,...,37.0,NaN,NaN,1,outdoors,78.0,12.0,CLE00,Cleveland Browns Stadium,PIT
3,1999_01_OAK_GB,1999,REG,1,1999-09-12,Sunday,13:02,LV,24.0,GB,...,43.0,NaN,NaN,0,outdoors,67.0,10.0,GNB00,Lambeau Field,GB
4,1999_01_BUF_IND,1999,REG,1,1999-09-12,Sunday,13:02,BUF,14.0,IND,...,45.5,NaN,NaN,1,dome,70.0,0.0,IND99,RCA Dome,IND

In [28]:
#bring in dataframe for 2023 season play by play
df23 = pd.read_csv('pbp-2023.csv')
df23.head()

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2023110503,2023-11-05,2,12,5,CLE,ARI,3,5,56,...,0,0,NaN,44,OPP,0,NaN,0,NaN,0
1,2023110504,2023-11-05,2,3,53,LA,GB,1,10,55,...,0,0,NaN,45,OPP,0,NaN,0,NaN,0
2,2023110504,2023-11-05,2,3,15,LA,GB,2,2,63,...,0,0,CENTER,37,OPP,0,NaN,0,NaN,0
3,2023110504,2023-11-05,2,0,5,GB,LA,2,4,70,...,0,0,NaN,30,OPP,0,NaN,0,NaN,0
4,2023110504,2023-11-05,2,0,4,GB,LA,3,4,70,...,0,0,NaN,30,OPP,0,NaN,0,NaN,0

In [29]:
#Info of 2023 season dataframe
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51287 entries, 0 to 51286
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   GameId                          51287 non-null  int64
 1   GameDate                        51287 non-null  object
 2   Quarter                         51287 non-null  int64
 3   Minute                          51287 non-null  int64
 4   Second                          51287 non-null  int64
 5   OffenseTeam                     51287 non-null  object
 6   DefenseTeam                     51287 non-null  object
 7   Down                            51287 non-null  int64
 8   ToGo                            51287 non-null  int64
 9   YardLine                        51287 non-null  int64
 10  Unnamed: 10                     0 non-null      float64
 11  SeriesFirstDown                 51287 non-null  int64
 12  Unnamed: 12                     0 non-null      float64
 13  NextScore                       51287 non-null  int64
 14  Description                     51287 non-null  object
 15  TeamWin                         51287 non-null  int64
 16  Unnamed: 16                     0 non-null      float64
 17  Unnamed: 17                     0 non-null      float64
 18  SeasonYear                      51287 non-null  int64
 19  Yards                           51287 non-null  int64
 20  Formation                       50457 non-null  object
 21  PlayType                        45802 non-null  object
 22  IsRush                          51287 non-null  int64
 23  IsPass                          51287 non-null  int64
 24  IsIncomplete                    51287 non-null  int64
 25  IsTouchdown                     51287 non-null  int64
 26  PassType                        19172 non-null  object
 27  IsSack                          51287 non-null  int64
 28  IsChallenge                     51287 non-null  int64
 29  IsChallengeReversed             51287 non-null  int64
 30  Challenger                      0 non-null      float64
 31  IsMeasurement                   51287 non-null  int64
 32  IsInterception                  51287 non-null  int64
 33  IsFumble                        51287 non-null  int64
 34  IsPenalty                       51287 non-null  int64
 35  IsTwoPointConversion            51287 non-null  int64
 36  IsTwoPointConversionSuccessful  51287 non-null  int64
 37  RushDirection                   13219 non-null  object
 38  YardLineFixed                   51287 non-null  int64
 39  YardLineDirection               51287 non-null  object
 40  IsPenaltyAccepted               51287 non-null  int64
 41  PenaltyTeam                     3430 non-null   object
 42  IsNoPlay                        51287 non-null  int64
 43  PenaltyType                     3430 non-null   object
 44  PenaltyYards                    51287 non-null  int64
dtypes: float64(5), int64(29), object(11)
memory usage: 17.6+ MB

In [30]:
#df23 null counts
print(df23.isnull().sum().sort_values(ascending=False))

Unnamed: 12                       51287
Challenger                        51287
Unnamed: 10                       51287
Unnamed: 17                       51287
Unnamed: 16                       51287
PenaltyType                       47857
PenaltyTeam                       47857
RushDirection                     38068
PassType                          32115
PlayType                           5485
Formation                           830
IsInterception                        0
IsChallenge                           0
IsChallengeReversed                   0
IsMeasurement                         0
GameId                                0
IsFumble                              0
IsPenalty                             0
IsTwoPointConversion                  0
IsTwoPointConversionSuccessful        0
YardLineFixed                         0
YardLineDirection                     0
IsPenaltyAccepted                     0
IsNoPlay                              0
IsSack                                0
IsRush                                0
IsTouchdown                           0
YardLine                              0
Quarter                               0
Minute                                0
Second                                0
OffenseTeam                           0
DefenseTeam                           0
Down                                  0
ToGo                                  0
SeriesFirstDown                       0
IsIncomplete                          0
NextScore                             0
Description                           0
TeamWin                               0
SeasonYear                            0
Yards                                 0
GameDate                              0
IsPass                                0
PenaltyYards                          0
dtype: int64

In [31]:
#Create dataframe of each game with desired features
#List of game ID
df23["GameId"].unique()

array([2023110503, 2023110504, 2023110505, 2023110508, 2023110506,
       2023110507, 2023110509, 2023110510, 2023110600, 2023110900,
       2023111201, 2023111207, 2023111202, 2023111203, 2023111206,
       2023111205, 2023111211, 2023111600, 2023111904, 2023111903,
       2023111909, 2023111905, 2023111908, 2023111906, 2023111910,
       2023112300, 2023111911, 2023112302, 2023112000, 2023112301,
       2023112600, 2023112603, 2023112601, 2023112602, 2023112605,
       2023112604, 2023112606, 2023112607, 2023112609, 2023112610,
       2023112700, 2023113000, 2023120308, 2023120310, 2023121000,
       2023121002, 2023120400, 2023120700, 2023121001, 2023121003,
       2023121004, 2023121008, 2023121011, 2023121005, 2023121010,
       2023121007, 2023121101, 2023121400, 2023121009, 2023121602,
       2023121100, 2023121705, 2023121601, 2023121700, 2023121701,
       2023121600, 2023121702, 2023121703, 2023110501, 2023121704,
       2024010710, 2024010713, 2024010709, 2024010712, 2024010711,
       2024010708, 2023121006, 2024010707, 2024010705, 2024010704,
       2023121706, 2023121708, 2023121711, 2023121709, 2023121710,
       2023122100, 2023121801, 2023122402, 2023122403, 2023122300,
       2023122301, 2023122404, 2023123107, 2023123108, 2023123109,
       2023123110, 2023123111, 2024010600, 2023123112, 2023123113,
       2023123114, 2024010601, 2024010700, 2024010706, 2024010703,
       2024010702, 2023123103, 2023123102, 2023123105, 2023123104,
       2023123106, 2024010701, 2023123101, 2023122408, 2023122409,
       2023122407, 2023122410, 2023122411, 2023122501, 2023122500,
       2023122800, 2023122502, 2023123000, 2023122406, 2023122405,
       2023120309, 2023120304, 2023120303, 2023120307, 2023120306,
       2023120305, 2023120301, 2023120300, 2023112608, 2023120302,
       2023112400, 2023111901, 2023111900, 2023111907, 2023111300,
       2023111902, 2023111209, 2023111208, 2023111210, 2023111200,
       2023111204, 2023110511, 2023110502, 2023110500, 2023102913,
       2023102911, 2023110200, 2023103000, 2023102910, 2023102909,
       2023102901, 2023102912, 2023102908, 2023102907, 2023102906,
       2023102905, 2023102902, 2023102903, 2023102904, 2023102900,
       2023102600, 2023102209, 2023102208, 2023102206, 2023102205,
       2023102207, 2023102210, 2023102204, 2023102300, 2023102203,
       2023102202, 2023102201, 2023102200, 2023101600, 2023101900,
       2023101510, 2023101512, 2023101508, 2023101511, 2023101507,
       2023101506, 2023101509, 2023101504, 2023101503, 2023101501,
       2023101500, 2023101505, 2023101502, 2023100811, 2023100900,
       2023101200, 2023100804, 2023100810, 2023100807, 2023100806,
       2023100808, 2023100803, 2023100809, 2023100802, 2023100500,
       2023100805, 2023100801, 2023100112, 2023100800, 2023100113,
       2023100111, 2023100200, 2023100110, 2023100109, 2023100108,
       2023100106, 2023100107, 2023100105, 2023100103, 2023100104,
       2023100100, 2023092501, 2023100102, 2023100101, 2023092409,
       2023092800, 2023092412, 2023092411, 2023092500, 2023092410,
       2023092406, 2023092405, 2023092408, 2023092407, 2023092401,
       2023092404, 2023092403, 2023092402, 2023091801, 2023092400,
       2023091800, 2023091712, 2023091711, 2023091709, 2023091708,
       2023091710, 2023092100, 2023091707, 2023091706, 2023091705,
       2023091703, 2023091700, 2023091400, 2023091704, 2023091702,
       2023091100, 2023091701, 2023091013, 2023091012, 2023091011,
       2023091010, 2023091008, 2023091009, 2023091004, 2023091007,
       2023091006, 2023091002, 2023091005, 2023091003, 2023090700,
       2023091001, 2023091000])

In [32]:
# List of URLs you want to scrape
urls = [
    'https://www.pro-football-reference.com/years/2024/games.htm',
    'https://www.pro-football-reference.com/years/2023/games.htm',
    'https://www.pro-football-reference.com/years/2022/games.htm',
    'https://www.pro-football-reference.com/years/2021/games.htm',
    'https://www.pro-football-reference.com/years/2020/games.htm',
    'https://www.pro-football-reference.com/years/2019/games.htm',
    'https://www.pro-football-reference.com/years/2018/games.htm',
    'https://www.pro-football-reference.com/years/2017/games.htm'
]

# Function to scrape data from a single URL and return a DataFrame
def scrape_games_data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the main games table
    table = soup.find('table', id='games')

    # Initialize a list to store data
    data = []

    # Extract data from table rows
    for row in table.find_all('tr')[1:]:  # Skip header row
        cols = row.find_all(['th', 'td'])
        if len(cols) > 0:
            week = cols[0].text.strip()
            day = cols[1].text.strip()
            date = cols[2].text.strip()
            time = cols[3].text.strip()
            winner = cols[4].text.strip()
            awaygame = cols[5].text.strip()
            loser = cols[6].text.strip()
            pts_w = cols[8].text.strip()
            pts_l = cols[9].text.strip()
            yds_w = cols[10].text.strip()
            to_w = cols[11].text.strip()
            yds_l = cols[12].text.strip()
            to_l = cols[13].text.strip()

            data.append([week, day, date, time, winner, awaygame, loser, pts_w, pts_l, yds_w, to_w, yds_l, to_l])

    # Create DataFrame
    games_df = pd.DataFrame(data, columns=['Week', 'Day', 'Date', 'Time', 'Winner', 'Awaygame', 'Loser', 
                                           'PtsW', 'PtsL', 'YdsW', 'TOW', 'YdsL', 'TOL'])
    return games_df

# List to store DataFrames
all_games_data = []

# Loop over the URLs and scrape data
for url in urls:
    df = scrape_games_data(url)
    all_games_data.append(df)

# Optionally, concatenate all the DataFrames into one large DataFrame
combined_games_data = pd.concat(all_games_data, ignore_index=True)

# Print the first few rows of the combined DataFrame
print(combined_games_data.head())
print(combined_games_data.info())
print(combined_games_data.shape)

  Week  Day        Date    Time               Winner Awaygame  \
0    1  Thu  2024-09-05  8:20PM   Kansas City Chiefs
1    1  Fri  2024-09-06  8:15PM  Philadelphia Eagles
2    1  Sun  2024-09-08  1:00PM  Pittsburgh Steelers        @
3    1  Sun  2024-09-08  1:00PM        Buffalo Bills
4    1  Sun  2024-09-08  1:00PM   New Orleans Saints

               Loser PtsW PtsL YdsW TOW YdsL TOL
0   Baltimore Ravens   27   20  353   1  452   1
1  Green Bay Packers   34   29  410   3  414   1
2    Atlanta Falcons   18   10  270   0  226   3
3  Arizona Cardinals   34   28  352   1  270   1
4  Carolina Panthers   47   10  379   1  193   3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Week      2349 non-null   object
 1   Day       2349 non-null   object
 2   Date      2349 non-null   object
 3   Time      2349 non-null   object
 4   Winner    2349 non-null   object
 5   Awaygame  2349 non-null   object
 6   Loser     2349 non-null   object
 7   PtsW      2349 non-null   object
 8   PtsL      2349 non-null   object
 9   YdsW      2349 non-null   object
 10  TOW       2349 non-null   object
 11  YdsL      2349 non-null   object
 12  TOL       2349 non-null   object
dtypes: object(13)
memory usage: 238.7+ KB
None
(2349, 13)

In [33]:
#Data describe
print(combined_games_data.describe())

        Week   Day  Date    Time      Winner Awaygame      Loser  PtsW  PtsL  \
count   2349  2349  2349    2349        2349     2349       2349  2349  2349
unique    24     9   478      34          37        3         37    56    45
top     Week   Sun  Date  1:00PM  Winner/tie           Loser/tie    27    17
freq     132  1821   132    1099         132     1346        132   182   222

        YdsW   TOW  YdsL   TOL
count   2349  2349  2349  2349
unique   377     9   404    10
top     YdsW     0  YdsL     1
freq     132   920   132   687

In [34]:
#Check awaygame column
print(combined_games_data["Awaygame"].unique())

['' '@' 'N']

In [35]:
#Check if ties are indicated correctly with known tie games, will use Detroit Lions vs Pittsburgh Steelers in week 10 of 2021 season
combined_games_data[combined_games_data["Date"].isin(["2021-11-14"])]

,Week,Day,Date,Time,Winner,Awaygame,Loser,PtsW,PtsL,YdsW,TOW,YdsL,TOL
1054,10,Sun,2021-11-14,1:00PM,Dallas Cowboys,,Atlanta Falcons,43,3,431,1,214,3
1055,10,Sun,2021-11-14,1:00PM,Buffalo Bills,@,New York Jets,45,17,489,2,366,5
1056,10,Sun,2021-11-14,1:00PM,Pittsburgh Steelers,,Detroit Lions,16,16,387,3,306,0
1057,10,Sun,2021-11-14,1:00PM,Tennessee Titans,,New Orleans Saints,23,21,264,0,373,1
1058,10,Sun,2021-11-14,1:00PM,Washington Football Team,,Tampa Bay Buccaneers,29,19,320,1,273,2
1059,10,Sun,2021-11-14,1:00PM,New England Patriots,,Cleveland Browns,45,7,452,0,217,1
1060,10,Sun,2021-11-14,1:00PM,Indianapolis Colts,,Jacksonville Jaguars,23,17,295,0,331,1
1061,10,Sun,2021-11-14,4:05PM,Minnesota Vikings,@,Los Angeles Chargers,27,20,381,1,253,1
1062,10,Sun,2021-11-14,4:05PM,Carolina Panthers,@,Arizona Cardinals,34,10,341,2,169,2
1063,10,Sun,2021-11-14,4:25PM,Philadelphia Eagles,@,Denver Broncos,30,13,386,1,308,1
1064,10,Sun,2021-11-14,4:25PM,Green Bay Packers,,Seattle Seahawks,17,0,393,1,208,2
1065,10,Sun,2021-11-14,8:20PM,Kansas City Chiefs,@,Las Vegas Raiders,41,14,516,1,299,2

In [36]:
#Adding tie column
combined_games_data['Tie'] = (combined_games_data['PtsW'] == combined_games_data['PtsL']).astype(int)

In [37]:
#Look at tie games
combined_games_data[combined_games_data["Tie"]==1]

,Week,Day,Date,Time,Winner,Awaygame,Loser,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Tie
289,,,Playoffs,,,,,,,,,,,1
302,SuperBowl,Sun,2025-02-09,6:30PM,Kansas City Chiefs,@,Philadelphia Eagles,,,,,,,1
592,,,Playoffs,,,,,,,,,,,1
611,1,Sun,2022-09-11,1:00PM,Houston Texans,,Indianapolis Colts,20,20,299,1,517,2,1
803,13,Sun,2022-12-04,1:00PM,Washington Commanders,@,New York Giants,20,20,411,1,316,1,1
894,,,Playoffs,,,,,,,,,,,1
1056,10,Sun,2021-11-14,1:00PM,Pittsburgh Steelers,,Detroit Lions,16,16,387,3,306,0,1
1197,,,Playoffs,,,,,,,,,,,1
1248,3,Sun,2020-09-27,1:00PM,Philadelphia Eagles,,Cincinnati Bengals,23,23,378,2,304,0,1
1483,,,Playoffs,,,,,,,,,,,1
1507,1,Sun,2019-09-08,4:25PM,Detroit Lions,@,Arizona Cardinals,27,27,477,2,387,1,1
1769,,,Playoffs,,,,,,,,,,,1
1784,1,Sun,2018-09-09,1:00PM,Pittsburgh Steelers,@,Cleveland Browns,21,21,472,6,327,1,1
1803,2,Sun,2018-09-16,1:00PM,Minnesota Vikings,@,Green Bay Packers,29,29,480,1,351,0,1
2053,,,Playoffs,,,,,,,,,,,1
2337,,,Playoffs,,,,,,,,,,,1

In [38]:
#Look for non-dates in date column
print(combined_games_data["Date"].unique())

['2024-09-05' '2024-09-06' '2024-09-08' '2024-09-09' 'Date' '2024-09-12'
 '2024-09-15' '2024-09-16' '2024-09-19' '2024-09-22' '2024-09-23'
 '2024-09-26' '2024-09-29' '2024-09-30' '2024-10-03' '2024-10-06'
 '2024-10-07' '2024-10-10' '2024-10-13' '2024-10-14' '2024-10-17'
 '2024-10-20' '2024-10-21' '2024-10-24' '2024-10-27' '2024-10-28'
 '2024-10-31' '2024-11-03' '2024-11-04' '2024-11-07' '2024-11-10'
 '2024-11-11' '2024-11-14' '2024-11-17' '2024-11-18' '2024-11-21'
 '2024-11-24' '2024-11-25' '2024-11-28' '2024-11-29' '2024-12-01'
 '2024-12-02' '2024-12-05' '2024-12-08' '2024-12-09' '2024-12-12'
 '2024-12-15' '2024-12-16' '2024-12-19' '2024-12-21' '2024-12-22'
 '2024-12-23' '2024-12-25' '2024-12-26' '2024-12-28' '2024-12-29'
 '2024-12-30' '2025-01-04' '2025-01-05' 'Playoffs' '2025-01-11'
 '2025-01-12' '2025-01-13' '2025-01-18' '2025-01-19' '2025-01-26'
 '2025-02-09' '2023-09-07' '2023-09-10' '2023-09-11' '2023-09-14'
 '2023-09-17' '2023-09-18' '2023-09-21' '2023-09-24' '2023-09-25'
 '2023-09-28' '2023-10-01' '2023-10-02' '2023-10-05' '2023-10-08'
 '2023-10-09' '2023-10-12' '2023-10-15' '2023-10-16' '2023-10-19'
 '2023-10-22' '2023-10-23' '2023-10-26' '2023-10-29' '2023-10-30'
 '2023-11-02' '2023-11-05' '2023-11-06' '2023-11-09' '2023-11-12'
 '2023-11-13' '2023-11-16' '2023-11-19' '2023-11-20' '2023-11-23'
 '2023-11-24' '2023-11-26' '2023-11-27' '2023-11-30' '2023-12-03'
 '2023-12-04' '2023-12-07' '2023-12-10' '2023-12-11' '2023-12-14'
 '2023-12-16' '2023-12-17' '2023-12-18' '2023-12-21' '2023-12-23'
 '2023-12-24' '2023-12-25' '2023-12-28' '2023-12-30' '2023-12-31'
 '2024-01-06' '2024-01-07' '2024-01-13' '2024-01-14' '2024-01-15'
 '2024-01-20' '2024-01-21' '2024-01-28' '2024-02-11' '2022-09-08'
 '2022-09-11' '2022-09-12' '2022-09-15' '2022-09-18' '2022-09-19'
 '2022-09-22' '2022-09-25' '2022-09-26' '2022-09-29' '2022-10-02'
 '2022-10-03' '2022-10-06' '2022-10-09' '2022-10-10' '2022-10-13'
 '2022-10-16' '2022-10-17' '2022-10-20' '2022-10-23' '2022-10-24'
 '2022-10-27' '2022-10-30' '2022-10-31' '2022-11-03' '2022-11-06'
 '2022-11-07' '2022-11-10' '2022-11-13' '2022-11-14' '2022-11-17'
 '2022-11-20' '2022-11-21' '2022-11-24' '2022-11-27' '2022-11-28'
 '2022-12-01' '2022-12-04' '2022-12-05' '2022-12-08' '2022-12-11'
 '2022-12-12' '2022-12-15' '2022-12-17' '2022-12-18' '2022-12-19'
 '2022-12-22' '2022-12-24' '2022-12-25' '2022-12-26' '2022-12-29'
 '2023-01-01' '2023-01-07' '2023-01-08' '2023-01-14' '2023-01-15'
 '2023-01-16' '2023-01-21' '2023-01-22' '2023-01-29' '2023-02-12'
 '2021-09-09' '2021-09-12' '2021-09-13' '2021-09-16' '2021-09-19'
 '2021-09-20' '2021-09-23' '2021-09-26' '2021-09-27' '2021-09-30'
 '2021-10-03' '2021-10-04' '2021-10-07' '2021-10-10' '2021-10-11'
 '2021-10-14' '2021-10-17' '2021-10-18' '2021-10-21' '2021-10-24'
 '2021-10-25' '2021-10-28' '2021-10-31' '2021-11-01' '2021-11-04'
 '2021-11-07' '2021-11-08' '2021-11-11' '2021-11-14' '2021-11-15'
 '2021-11-18' '2021-11-21' '2021-11-22' '2021-11-25' '2021-11-28'
 '2021-11-29' '2021-12-02' '2021-12-05' '2021-12-06' '2021-12-09'
 '2021-12-12' '2021-12-13' '2021-12-16' '2021-12-18' '2021-12-19'
 '2021-12-20' '2021-12-21' '2021-12-23' '2021-12-25' '2021-12-26'
 '2021-12-27' '2022-01-02' '2022-01-03' '2022-01-08' '2022-01-09'
 '2022-01-15' '2022-01-16' '2022-01-17' '2022-01-22' '2022-01-23'
 '2022-01-30' '2022-02-13' '2020-09-10' '2020-09-13' '2020-09-14'
 '2020-09-17' '2020-09-20' '2020-09-21' '2020-09-24' '2020-09-27'
 '2020-09-28' '2020-10-01' '2020-10-04' '2020-10-05' '2020-10-08'
 '2020-10-11' '2020-10-12' '2020-10-13' '2020-10-18' '2020-10-19'
 '2020-10-22' '2020-10-25' '2020-10-26' '2020-10-29' '2020-11-01'
 '2020-11-02' '2020-11-05' '2020-11-08' '2020-11-09' '2020-11-12'
 '2020-11-15' '2020-11-16' '2020-11-19' '2020-11-22' '2020-11-23'
 '2020-11-26' '2020-11-29' '2020-11-30' '2020-12-02' '2020-12-06'
 '2020-12-07' '2020-12-08' '2020-12-10' '2020-12-13' '2020-12-14'
 '2020-12-17' '2020-12-19' '2020-12-20' '2020-12-21' '2020-12-25'
 '2020-12-26' '2020-12-27' '2020-12-28' '2021-01-03' '2021-01-09'
 '2021-01-10' '2021-01-16' '2021-01-17' '2021-01-24' '2021-02-07'
 '2019-09-05' '2019-09-08' '2019-09-09' '2019-09-12' '2019-09-15'
 '2019-09-16' '2019-09-19' '2019-09-22' '2019-09-23' '2019-09-26'
 '2019-09-29' '2019-09-30' '2019-10-03' '2019-10-06' '2019-10-07'
 '2019-10-10' '2019-10-13' '2019-10-14' '2019-10-17' '2019-10-20'
 '2019-10-21' '2019-10-24' '2019-10-27' '2019-10-28' '2019-10-31'
 '2019-11-03' '2019-11-04' '2019-11-07' '2019-11-10' '2019-11-11'
 '2019-11-14' '2019-11-17' '2019-11-18' '2019-11-21' '2019-11-24'
 '2019-11-25' '2019-11-28' '2019-12-01' '2019-12-02' '2019-12-05'
 '2019-12-08' '2019-12-09' '2019-12-12' '2019-12-15' '2019-12-16'
 '2019-12-21' '2019-12-22' '2019-12-23' '2019-12-29' '2020-01-04'
 '2020-01-05' '2020-01-11' '2020-01-12' '2020-01-19' '2020-02-02'
 '2018-09-06' '2018-09-09' '2018-09-10' '2018-09-13' '2018-09-16'
 '2018-09-17' '2018-09-20' '2018-09-23' '2018-09-24' '2018-09-27'
 '2018-09-30' '2018-10-01' '2018-10-04' '2018-10-07' '2018-10-08'
 '2018-10-11' '2018-10-14' '2018-10-15' '2018-10-18' '2018-10-21'
 '2018-10-22' '2018-10-25' '2018-10-28' '2018-10-29' '2018-11-01'
 '2018-11-04' '2018-11-05' '2018-11-08' '2018-11-11' '2018-11-12'
 '2018-11-15' '2018-11-18' '2018-11-19' '2018-11-22' '2018-11-25'
 '2018-11-26' '2018-11-29' '2018-12-02' '2018-12-03' '2018-12-06'
 '2018-12-09' '2018-12-10' '2018-12-13' '2018-12-15' '2018-12-16'
 '2018-12-17' '2018-12-22' '2018-12-23' '2018-12-24' '2018-12-30'
 '2019-01-05' '2019-01-06' '2019-01-12' '2019-01-13' '2019-01-20'
 '2019-02-03' '2017-09-07' '2017-09-10' '2017-09-11' '2017-09-14'
 '2017-09-17' '2017-09-18' '2017-09-21' '2017-09-24' '2017-09-25'
 '2017-09-28' '2017-10-01' '2017-10-02' '2017-10-05' '2017-10-08'
 '2017-10-09' '2017-10-12' '2017-10-15' '2017-10-16' '2017-10-19'
 '2017-10-22' '2017-10-23' '2017-10-26' '2017-10-29' '2017-10-30'
 '2017-11-02' '2017-11-05' '2017-11-06' '2017-11-09' '2017-11-12'
 '2017-11-13' '2017-11-16' '2017-11-19' '2017-11-20' '2017-11-23'
 '2017-11-26' '2017-11-27' '2017-11-30' '2017-12-03' '2017-12-04'
 '2017-12-07' '2017-12-10' '2017-12-11' '2017-12-14' '2017-12-16'
 '2017-12-17' '2017-12-18' '2017-12-23' '2017-12-24' '2017-12-25'
 '2017-12-31' '2018-01-06' '2018-01-07' '2018-01-13' '2018-01-14'
 '2018-01-21' '2018-02-04']

In [39]:
#Look at rows containing non dates in date column
searchvalues = ["Date", "Playoffs"]
print(combined_games_data[combined_games_data["Date"].isin(searchvalues)])

      Week  Day      Date  Time      Winner Awaygame      Loser  PtsW  PtsL  \
16    Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
33    Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
50    Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
67    Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
82    Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
...    ...  ...       ...   ...         ...      ...        ...   ...   ...
2269  Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
2286  Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
2303  Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
2320  Week  Day      Date  Time  Winner/tie           Loser/tie  PtsW  PtsL
2337             Playoffs

      YdsW  TOW  YdsL  TOL  Tie
16    YdsW  TOW  YdsL  TOL    0
33    YdsW  TOW  YdsL  TOL    0
50    YdsW  TOW  YdsL  TOL    0
67    YdsW  TOW  YdsL  TOL    0
82    YdsW  TOW  YdsL  TOL    0
...    ...  ...   ...  ...  ...
2269  YdsW  TOW  YdsL  TOL    0
2286  YdsW  TOW  YdsL  TOL    0
2303  YdsW  TOW  YdsL  TOL    0
2320  YdsW  TOW  YdsL  TOL    0
2337                          1

[140 rows x 14 columns]

In [40]:
# Convert 'Date' column to datetime, with coercion of errors (invalid dates become NaT)
combined_games_data["Date"] = pd.to_datetime(combined_games_data["Date"], errors='coerce')

# Drop rows with NaT (invalid dates) if needed
combined_games_data = combined_games_data.dropna(subset=["Date"])

# Set 'Date' column as index
combined_games_data.set_index("Date", inplace=True)

# Print the DataFrame
print(combined_games_data)

                 Week  Day    Time                Winner Awaygame  \
Date
2024-09-05          1  Thu  8:20PM    Kansas City Chiefs
2024-09-06          1  Fri  8:15PM   Philadelphia Eagles
2024-09-08          1  Sun  1:00PM   Pittsburgh Steelers        @
2024-09-08          1  Sun  1:00PM         Buffalo Bills
2024-09-08          1  Sun  1:00PM    New Orleans Saints
...               ...  ...     ...                   ...      ...
2018-01-14   Division  Sun  1:05PM  Jacksonville Jaguars        @
2018-01-14   Division  Sun  4:40PM     Minnesota Vikings
2018-01-21  ConfChamp  Sun  3:05PM  New England Patriots
2018-01-21  ConfChamp  Sun  6:40PM   Philadelphia Eagles
2018-02-04  SuperBowl  Sun  6:30PM   Philadelphia Eagles        N

                           Loser PtsW PtsL YdsW TOW YdsL TOL  Tie
Date
2024-09-05      Baltimore Ravens   27   20  353   1  452   1    0
2024-09-06     Green Bay Packers   34   29  410   3  414   1    0
2024-09-08       Atlanta Falcons   18   10  270   0  226   3    0
2024-09-08     Arizona Cardinals   34   28  352   1  270   1    0
2024-09-08     Carolina Panthers   47   10  379   1  193   3    0
...                          ...  ...  ...  ...  ..  ...  ..  ...
2018-01-14   Pittsburgh Steelers   45   42  378   0  545   2    0
2018-01-14    New Orleans Saints   29   24  403   1  358   2    0
2018-01-21  Jacksonville Jaguars   24   20  344   1  374   0    0
2018-01-21     Minnesota Vikings   38    7  456   0  333   3    0
2018-02-04  New England Patriots   41   33  538   1  613   1    0

[2209 rows x 13 columns]

In [41]:
#Look at tie games again
combined_games_data[combined_games_data["Tie"]==1]

,Week,Day,Time,Winner,Awaygame,Loser,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Tie
Date,,,,,,,,,,,,,
2025-02-09,SuperBowl,Sun,6:30PM,Kansas City Chiefs,@,Philadelphia Eagles,,,,,,,1
2022-09-11,1,Sun,1:00PM,Houston Texans,,Indianapolis Colts,20,20,299,1,517,2,1
2022-12-04,13,Sun,1:00PM,Washington Commanders,@,New York Giants,20,20,411,1,316,1,1
2021-11-14,10,Sun,1:00PM,Pittsburgh Steelers,,Detroit Lions,16,16,387,3,306,0,1
2020-09-27,3,Sun,1:00PM,Philadelphia Eagles,,Cincinnati Bengals,23,23,378,2,304,0,1
2019-09-08,1,Sun,4:25PM,Detroit Lions,@,Arizona Cardinals,27,27,477,2,387,1,1
2018-09-09,1,Sun,1:00PM,Pittsburgh Steelers,@,Cleveland Browns,21,21,472,6,327,1,1
2018-09-16,2,Sun,1:00PM,Minnesota Vikings,@,Green Bay Packers,29,29,480,1,351,0,1

Superbowl data will be available after this weekend, should solve the tie value there

In [42]:
#Check for missing values
print(combined_games_data.isnull().sum().sort_values(ascending=False))

Week        0
Day         0
Time        0
Winner      0
Awaygame    0
Loser       0
PtsW        0
PtsL        0
YdsW        0
TOW         0
YdsL        0
TOL         0
Tie         0
dtype: int64

In [43]:
combined_games_data.dtypes

Week        object
Day         object
Time        object
Winner      object
Awaygame    object
Loser       object
PtsW        object
PtsL        object
YdsW        object
TOW         object
YdsL        object
TOL         object
Tie          int64
dtype: object

In [44]:
#converting numeric data
combined_games_data['PtsW'] = pd.to_numeric(combined_games_data['PtsW'], errors='coerce')
combined_games_data['PtsL'] = pd.to_numeric(combined_games_data['PtsL'], errors='coerce')
combined_games_data['YdsW'] = pd.to_numeric(combined_games_data['YdsW'], errors='coerce')
combined_games_data['YdsL'] = pd.to_numeric(combined_games_data['YdsL'], errors='coerce')
combined_games_data['TOW'] = pd.to_numeric(combined_games_data['TOW'], errors='coerce')
combined_games_data['TOL'] = pd.to_numeric(combined_games_data['TOL'], errors='coerce')

In [45]:
#Rename df
NFL = combined_games_data

In [46]:
#Feature engineering for differentials (yards, turnovers, score)
#Points differential
NFL["PointDiff"] = NFL["PtsW"] - NFL ["PtsL"]

#Yard differential
NFL["YardDiff"] = NFL["YdsW"] - NFL["YdsL"]

#Turnover differential
NFL["TurnoverDiff"] = NFL["TOW"] - NFL["TOL"]

In [47]:
print(NFL.head())

           Week  Day    Time               Winner Awaygame              Loser  \
Date
2024-09-05    1  Thu  8:20PM   Kansas City Chiefs            Baltimore Ravens
2024-09-06    1  Fri  8:15PM  Philadelphia Eagles           Green Bay Packers
2024-09-08    1  Sun  1:00PM  Pittsburgh Steelers        @    Atlanta Falcons
2024-09-08    1  Sun  1:00PM        Buffalo Bills           Arizona Cardinals
2024-09-08    1  Sun  1:00PM   New Orleans Saints           Carolina Panthers

            PtsW  PtsL   YdsW  TOW   YdsL  TOL  Tie  PointDiff  YardDiff  \
Date
2024-09-05  27.0  20.0  353.0  1.0  452.0  1.0    0        7.0     -99.0
2024-09-06  34.0  29.0  410.0  3.0  414.0  1.0    0        5.0      -4.0
2024-09-08  18.0  10.0  270.0  0.0  226.0  3.0    0        8.0      44.0
2024-09-08  34.0  28.0  352.0  1.0  270.0  1.0    0        6.0      82.0
2024-09-08  47.0  10.0  379.0  1.0  193.0  3.0    0       37.0     186.0

            TurnoverDiff
Date
2024-09-05           0.0
2024-09-06           2.0
2024-09-08          -3.0
2024-09-08           0.0
2024-09-08          -2.0

In [48]:
# Create the 'Home' and 'Away' columns based on the 'Awaygame' column
NFL['Home'] = NFL['Awaygame'].apply(lambda x: True if x == '' else False)
NFL['Away'] = NFL['Awaygame'].apply(lambda x: True if x == '@' else False)

# For neutral games (N), we can set both as False (or leave them as NaN if you prefer)
NFL.loc[NFL['Awaygame'] == 'N', ['Home', 'Away']] = False, False

# Check the new columns
NFL[['Awaygame', 'Home', 'Away']].head()

           Awaygame   Home   Away
Date
2024-09-05            True  False
2024-09-06            True  False
2024-09-08        @  False   True
2024-09-08            True  False
2024-09-08            True  False

In [49]:
#Check N values to make sure Home and Away columns are false
NFL[NFL["Awaygame"]=='N']

,Week,Day,Time,Winner,Awaygame,Loser,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Tie,PointDiff,YardDiff,TurnoverDiff,Home,Away
Date,,,,,,,,,,,,,,,,,,
2024-02-11,SuperBowl,Sun,6:30PM,Kansas City Chiefs,N,San Francisco 49ers,25.0,22.0,455.0,2.0,382.0,2.0,0,3.0,73.0,0.0,False,False
2023-02-12,SuperBowl,Sun,6:30PM,Kansas City Chiefs,N,Philadelphia Eagles,38.0,35.0,340.0,0.0,417.0,1.0,0,3.0,-77.0,-1.0,False,False
2022-02-13,SuperBowl,Sun,6:30PM,Los Angeles Rams,N,Cincinnati Bengals,23.0,20.0,313.0,2.0,305.0,0.0,0,3.0,8.0,2.0,False,False
2021-02-07,SuperBowl,Sun,6:30PM,Tampa Bay Buccaneers,N,Kansas City Chiefs,31.0,9.0,340.0,0.0,350.0,2.0,0,22.0,-10.0,-2.0,False,False
2020-02-02,SuperBowl,Sun,6:30PM,Kansas City Chiefs,N,San Francisco 49ers,31.0,20.0,397.0,2.0,351.0,2.0,0,11.0,46.0,0.0,False,False
2019-02-03,SuperBowl,Sun,6:30PM,New England Patriots,N,Los Angeles Rams,13.0,3.0,407.0,1.0,260.0,1.0,0,10.0,147.0,0.0,False,False
2018-02-04,SuperBowl,Sun,6:30PM,Philadelphia Eagles,N,New England Patriots,41.0,33.0,538.0,1.0,613.0,1.0,0,8.0,-75.0,0.0,False,False

In [50]:
#Looking at dataframe
NFL

,Week,Day,Time,Winner,Awaygame,Loser,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Tie,PointDiff,YardDiff,TurnoverDiff,Home,Away
Date,,,,,,,,,,,,,,,,,,
2024-09-05,1,Thu,8:20PM,Kansas City Chiefs,,Baltimore Ravens,27.0,20.0,353.0,1.0,452.0,1.0,0,7.0,-99.0,0.0,True,False
2024-09-06,1,Fri,8:15PM,Philadelphia Eagles,,Green Bay Packers,34.0,29.0,410.0,3.0,414.0,1.0,0,5.0,-4.0,2.0,True,False
2024-09-08,1,Sun,1:00PM,Pittsburgh Steelers,@,Atlanta Falcons,18.0,10.0,270.0,0.0,226.0,3.0,0,8.0,44.0,-3.0,False,True
2024-09-08,1,Sun,1:00PM,Buffalo Bills,,Arizona Cardinals,34.0,28.0,352.0,1.0,270.0,1.0,0,6.0,82.0,0.0,True,False
2024-09-08,1,Sun,1:00PM,New Orleans Saints,,Carolina Panthers,47.0,10.0,379.0,1.0,193.0,3.0,0,37.0,186.0,-2.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-14,Division,Sun,1:05PM,Jacksonville Jaguars,@,Pittsburgh Steelers,45.0,42.0,378.0,0.0,545.0,2.0,0,3.0,-167.0,-2.0,False,True
2018-01-14,Division,Sun,4:40PM,Minnesota Vikings,,New Orleans Saints,29.0,24.0,403.0,1.0,358.0,2.0,0,5.0,45.0,-1.0,True,False
2018-01-21,ConfChamp,Sun,3:05PM,New England Patriots,,Jacksonville Jaguars,24.0,20.0,344.0,1.0,374.0,0.0,0,4.0,-30.0,1.0,True,False
2018-01-21,ConfChamp,Sun,6:40PM,Philadelphia Eagles,,Minnesota Vikings,38.0,7.0,456.0,0.0,333.0,3.0,0,31.0,123.0,-3.0,True,False
2018-02-04,SuperBowl,Sun,6:30PM,Philadelphia Eagles,N,New England Patriots,41.0,33.0,538.0,1.0,613.0,1.0,0,8.0,-75.0,0.0,False,False

In [51]:
#Combine duplicate teams into one
# Define the mapping to combine the Washington team names and the Raiders team names
team_name_mapping = {
    'Washington Redskins': 'Washington Commanders',
    'Washington Football Team': 'Washington Commanders',
    'Washington Commanders': 'Washington Commanders',
    'Oakland Raiders': 'Las Vegas Raiders',
    'Las Vegas Raiders': 'Las Vegas Raiders'
}

# Replace the team names in both 'Winner' and 'Loser' columns
NFL['Winner'] = NFL['Winner'].replace(team_name_mapping)
NFL['Loser'] = NFL['Loser'].replace(team_name_mapping)

# Check that the replacement was successful
NFL[['Winner', 'Loser']].drop_duplicates().head()

                         Winner              Loser
Date
2024-09-05   Kansas City Chiefs   Baltimore Ravens
2024-09-06  Philadelphia Eagles  Green Bay Packers
2024-09-08  Pittsburgh Steelers    Atlanta Falcons
2024-09-08        Buffalo Bills  Arizona Cardinals
2024-09-08   New Orleans Saints  Carolina Panthers

In [52]:
#Check for duplicate teams
print(NFL["Winner"].unique())

['Kansas City Chiefs' 'Philadelphia Eagles' 'Pittsburgh Steelers'
 'Buffalo Bills' 'New Orleans Saints' 'Chicago Bears'
 'New England Patriots' 'Houston Texans' 'Miami Dolphins'
 'Minnesota Vikings' 'Seattle Seahawks' 'Los Angeles Chargers'
 'Dallas Cowboys' 'Tampa Bay Buccaneers' 'Detroit Lions'
 'San Francisco 49ers' 'Cleveland Browns' 'Green Bay Packers'
 'Washington Commanders' 'New York Jets' 'Las Vegas Raiders'
 'Arizona Cardinals' 'Atlanta Falcons' 'Indianapolis Colts'
 'New York Giants' 'Denver Broncos' 'Carolina Panthers' 'Baltimore Ravens'
 'Los Angeles Rams' 'Cincinnati Bengals' 'Tennessee Titans'
 'Jacksonville Jaguars']

Team Dataframe

In [53]:
# Initialize an empty DataFrame to hold the stats
team_stats = pd.DataFrame(columns=[
    'Total_Games', 'Win_Rate', 'Avg_PtsScored', 'Avg_PtsAllowed', 'Avg_Yards', 'Avg_YardsAllowed', 'Avg_TurnoverDiff', 
    'Avg_PointDiff', 'Avg_YardDiff',
    'Home_PtsScored', 'Away_PtsScored', 'Home_Yards', 'Away_Yards', 'Home_Turnover', 'Away_Turnover'
])

# Iterate through each team
for team in NFL['Winner'].unique():
    # Total games for the team (count all games where the team was either winner or loser)
    total_games = len(NFL[(NFL['Winner'] == team) | (NFL['Loser'] == team)])  # Count both wins and losses

    # Calculate the win rate based on the number of wins and total games
    win_rate = len(NFL[(NFL['Winner'] == team) & (NFL['Tie'] == False)]) / total_games  # Wins divided by total games played

    # Stats where the team was the winner
    win_games = NFL[(NFL['Winner'] == team) & (NFL['Tie'] == False)]
    sum_pts_scored_win = win_games['PtsW'].sum()  # Sum points scored in wins
    sum_pts_allowed_win = win_games['PtsL'].sum()  # Sum points allowed in losses
    sum_yards_win = win_games['YdsW'].sum()  # Sum yards gained in wins
    sum_yards_allowed_win = win_games['YdsL'].sum()  # Sum yards allowed in losses
    sum_turnover_diff_win = win_games['TurnoverDiff'].sum()  # Sum turnover diff in wins
    sum_point_diff_win = win_games['PointDiff'].sum()  # Sum point diff in wins
    sum_yard_diff_win = win_games['YardDiff'].sum()  # Sum yard diff in wins

    # Stats where the team was the loser
    loss_games = NFL[(NFL['Loser'] == team) | (NFL['Winner'] == team) & (NFL['Tie'] == True)]
    sum_pts_scored_loss = loss_games['PtsL'].sum()  # Sum points scored in losses
    sum_pts_allowed_loss = loss_games['PtsW'].sum()  # Sum points allowed in losses
    sum_yards_loss = loss_games['YdsL'].sum()  # Sum yards scored in losses
    sum_yards_allowed_loss = loss_games['YdsW'].sum()  # Sum yards allowed in losses
    sum_turnover_diff_loss = (-loss_games['TurnoverDiff'].sum())  # Sum turnover diff in losses
    sum_point_diff_loss = (-loss_games['PointDiff'].sum())  # Sum point diff in losses
    sum_yard_diff_loss = (-loss_games['YardDiff'].sum())  # sum yard diff in losses

    #Games where team was Home and Away
    home_games_team = NFL[((NFL['Home'] == True) & (NFL['Winner'] == team)) | ((NFL['Home'] == False) & (NFL['Loser'] == team))]
    away_games_team = NFL[((NFL['Away'] == True) & (NFL['Winner'] == team)) | ((NFL['Away'] == False) & (NFL['Loser'] == team))]

    # Home and Away stats for the team
    home_pts_scored = (
    pd.concat([
        home_games_team[home_games_team['Winner'] == team]['PtsW'],
        home_games_team[home_games_team['Loser'] == team]['PtsL']
    ]).mean() if len(home_games_team) > 0 else 0)
    away_pts_scored = (
    pd.concat([
        away_games_team[away_games_team['Winner'] == team]['PtsW'],
        away_games_team[away_games_team['Loser'] == team]['PtsL']
    ]).mean() if len(away_games_team) > 0 else 0)
    home_yards = (
    pd.concat([
        home_games_team[home_games_team['Winner'] == team]['YdsW'],
        home_games_team[home_games_team['Loser'] == team]['YdsL']
    ]).mean() if len(home_games_team) > 0 else 0)
    away_yards = (
    pd.concat([
        away_games_team[away_games_team['Winner'] == team]['YdsW'],
        away_games_team[away_games_team['Loser'] == team]['YdsL']
    ]).mean() if len(home_games_team) > 0 else 0)
    home_turnover =  (
    pd.concat([
        home_games_team[home_games_team['Winner'] == team]['TOW'],
        home_games_team[home_games_team['Loser'] == team]['TOL']
    ]).mean() if len(home_games_team) > 0 else 0)
    away_turnover =  (
    pd.concat([
        away_games_team[away_games_team['Winner'] == team]['TOW'],
        away_games_team[away_games_team['Loser'] == team]['TOL']
    ]).mean() if len(home_games_team) > 0 else 0)
    
    # Add all stats to the new dataframe
    team_stats.loc[team] = [
        total_games, win_rate, 
        (sum_pts_scored_win + sum_pts_scored_loss) / total_games,  # Average points scored across wins and losses
        (sum_pts_allowed_win + sum_pts_allowed_loss) / total_games,  # Average points allowed across wins and losses
        (sum_yards_win + sum_yards_loss) / total_games,  # Average yards across wins and losses
        (sum_yards_allowed_win + sum_yards_allowed_loss) / total_games,  # Average yards allowed across wins and losses
        (sum_turnover_diff_win + sum_turnover_diff_loss) / total_games,  # Average turnover diff across wins and losses
        (sum_point_diff_win + sum_point_diff_loss) / total_games,  # Average point diff across wins and losses
        (sum_yard_diff_win + sum_yard_diff_loss) / total_games,  # Average yard diff across wins and losses
        
        home_pts_scored, away_pts_scored, home_yards, away_yards, home_turnover, away_turnover
    ]

# Show the new team stats dataframe
team_stats.head()

,Total_Games,Win_Rate,Avg_PtsScored,Avg_PtsAllowed,Avg_Yards,Avg_YardsAllowed,Avg_TurnoverDiff,Avg_PointDiff,Avg_YardDiff,Home_PtsScored,Away_PtsScored,Home_Yards,Away_Yards,Home_Turnover,Away_Turnover
Kansas City Chiefs,154.0,0.759740,27.603896,21.214286,382.824675,346.389610,-0.259740,6.389610,36.435065,26.756098,28.579710,372.731707,399.260870,0.963415,1.260870
Philadelphia Eagles,147.0,0.625850,25.346939,21.408163,358.666667,329.251701,-0.088435,3.938776,29.414966,26.146667,24.774648,362.853333,358.633803,1.093333,1.436620
Pittsburgh Steelers,137.0,0.583942,21.934307,21.109489,331.846715,330.905109,-0.357664,0.824818,0.941606,24.029412,19.869565,341.411765,325.695652,1.264706,1.304348
Buffalo Bills,145.0,0.641379,25.234483,20.296552,356.862069,321.413793,-0.358621,4.937931,35.448276,26.386667,24.000000,353.440000,360.528571,1.146667,1.371429
New Orleans Saints,139.0,0.589928,25.071942,21.021583,351.345324,333.928058,-0.266187,4.050360,17.417266,26.111111,23.955224,359.277778,342.820896,1.236111,0.925373

In [54]:
print(team_stats.describe())
print(team_stats.info())
print(team_stats.shape)

       Total_Games   Win_Rate  Avg_PtsScored  Avg_PtsAllowed   Avg_Yards  \
count     32.00000  32.000000      32.000000       32.000000   32.000000
mean     138.06250   0.495114      22.742551       22.841715  342.929171
std        4.88538   0.108503       2.436505        1.618461   20.881935
min      132.00000   0.305970      17.893939       19.120567  295.272727
25%      134.00000   0.402239      20.765148       21.835381  330.122648
50%      137.00000   0.490739      22.733414       22.613322  341.016165
75%      140.00000   0.585438      24.816278       24.227062  358.746552
max      154.00000   0.759740      27.603896       25.451128  382.824675

       Avg_YardsAllowed  Avg_TurnoverDiff  Avg_PointDiff  Avg_YardDiff  \
count         32.000000         32.000000      32.000000     32.000000
mean         343.796206         -0.000721      -0.099164     -0.867035
std           13.628909          0.236395       3.622834     27.976912
min          316.234043         -0.358621      -6.484848    -49.000000
25%          335.342359         -0.187211      -2.956428    -21.061567
50%          345.382728         -0.033472      -0.609423     -6.028552
75%          351.357950          0.146688       2.707540     20.451192
max          372.433824          0.533835       7.028369     55.170213

       Home_PtsScored  Away_PtsScored  Home_Yards  Away_Yards  Home_Turnover  \
count       32.000000       32.000000   32.000000   32.000000      32.000000
mean        23.610238       21.881331  348.913226  337.554455       1.292296
std          2.594635        2.644237   19.601590   25.070535       0.187264
min         17.075758       15.878788  307.893939  265.772727       0.942857
25%         21.787879       19.996377  333.929144  320.043134       1.170238
50%         23.873880       21.511737  349.241251  339.808610       1.253788
75%         25.131757       23.926306  364.287767  353.465938       1.378788
max         28.434783       28.579710  386.739130  399.260870       1.718310

       Away_Turnover
count      32.000000
mean        1.337459
std         0.191305
min         0.925373
25%         1.208187
50%         1.299233
75%         1.448497
max         1.739130
<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Kansas City Chiefs to Jacksonville Jaguars
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Total_Games       32 non-null     float64
 1   Win_Rate          32 non-null     float64
 2   Avg_PtsScored     32 non-null     float64
 3   Avg_PtsAllowed    32 non-null     float64
 4   Avg_Yards         32 non-null     float64
 5   Avg_YardsAllowed  32 non-null     float64
 6   Avg_TurnoverDiff  32 non-null     float64
 7   Avg_PointDiff     32 non-null     float64
 8   Avg_YardDiff      32 non-null     float64
 9   Home_PtsScored    32 non-null     float64
 10  Away_PtsScored    32 non-null     float64
 11  Home_Yards        32 non-null     float64
 12  Away_Yards        32 non-null     float64
 13  Home_Turnover     32 non-null     float64
 14  Away_Turnover     32 non-null     float64
dtypes: float64(15)
memory usage: 4.0+ KB
None
(32, 15)

In [55]:
team_stats

,Total_Games,Win_Rate,Avg_PtsScored,Avg_PtsAllowed,Avg_Yards,Avg_YardsAllowed,Avg_TurnoverDiff,Avg_PointDiff,Avg_YardDiff,Home_PtsScored,Away_PtsScored,Home_Yards,Away_Yards,Home_Turnover,Away_Turnover
Kansas City Chiefs,154.0,0.759740,27.603896,21.214286,382.824675,346.389610,-0.259740,6.389610,36.435065,26.756098,28.579710,372.731707,399.260870,0.963415,1.260870
Philadelphia Eagles,147.0,0.625850,25.346939,21.408163,358.666667,329.251701,-0.088435,3.938776,29.414966,26.146667,24.774648,362.853333,358.633803,1.093333,1.436620
Pittsburgh Steelers,137.0,0.583942,21.934307,21.109489,331.846715,330.905109,-0.357664,0.824818,0.941606,24.029412,19.869565,341.411765,325.695652,1.264706,1.304348
Buffalo Bills,145.0,0.641379,25.234483,20.296552,356.862069,321.413793,-0.358621,4.937931,35.448276,26.386667,24.000000,353.440000,360.528571,1.146667,1.371429
New Orleans Saints,139.0,0.589928,25.071942,21.021583,351.345324,333.928058,-0.266187,4.050360,17.417266,26.111111,23.955224,359.277778,342.820896,1.236111,0.925373
Chicago Bears,134.0,0.402985,19.910448,21.843284,309.850746,332.820896,-0.052239,-1.932836,-22.970149,20.940299,18.880597,315.626866,304.074627,1.164179,1.552239
New England Patriots,140.0,0.528571,22.885714,20.257143,342.528571,330.057143,-0.200000,2.628571,12.471429,23.929577,22.101449,348.830986,339.028986,1.197183,1.246377
Houston Texans,139.0,0.424460,21.446043,24.258993,332.345324,360.381295,-0.107914,-2.812950,-28.035971,22.742857,20.130435,340.971429,320.434783,1.171429,1.318841
Miami Dolphins,134.0,0.485075,21.843284,24.216418,329.925373,350.350746,0.141791,-2.373134,-20.425373,23.742424,20.000000,340.409091,319.750000,1.318182,1.573529
Minnesota Vikings,138.0,0.594203,23.978261,22.355072,355.268116,347.253623,-0.195652,1.623188,8.014493,24.970588,23.014286,365.014706,347.642857,1.250000,1.314286
Seattle Seahawks,137.0,0.569343,24.116788,22.751825,343.992701,360.773723,-0.284672,1.364964,-16.781022,24.626866,23.628571,341.149254,346.714286,1.089552,1.057143
Los Angeles Chargers,136.0,0.507353,23.602941,22.316176,360.227941,340.683824,-0.139706,1.286765,19.544118,23.818182,23.400000,367.878788,353.014286,1.166667,1.171429
Dallas Cowboys,138.0,0.565217,25.478261,22.384058,367.492754,338.391304,-0.166667,3.094203,29.101449,28.434783,22.521739,386.739130,348.246377,1.333333,1.217391
Tampa Bay Buccaneers,142.0,0.521127,25.528169,23.154930,377.521127,347.457746,0.049296,2.373239,30.063380,24.633803,26.357143,379.492958,376.057143,1.718310,1.285714
Detroit Lions,136.0,0.470588,24.794118,25.250000,360.352941,372.433824,-0.014706,-0.455882,-12.080882,27.101449,22.417910,367.028986,354.820896,1.202899,1.253731
San Francisco 49ers,144.0,0.541667,24.784722,21.840278,368.944444,316.881944,0.145833,2.944444,52.062500,25.527027,23.916667,370.918919,366.847222,1.486486,1.430556
Cleveland Browns,135.0,0.400000,20.585185,24.200000,339.118519,338.822222,0.422222,-3.614815,0.296296,20.045455,21.101449,333.954545,344.057971,1.621212,1.739130
Green Bay Packers,140.0,0.592857,24.564286,22.114286,354.007143,337.664286,-0.264286,2.450000,16.342857,24.842857,24.285714,361.300000,346.714286,0.942857,1.171429
Washington Commanders,136.0,0.419118,20.647059,24.514706,320.911765,349.830882,0.154412,-3.867647,-28.919118,20.238806,21.043478,323.626866,319.652174,1.701493,1.159420
New York Jets,132.0,0.310606,17.893939,24.378788,295.272727,344.272727,0.348485,-6.484848,-49.000000,19.909091,15.878788,324.772727,265.772727,1.454545,1.575758
Las Vegas Raiders,133.0,0.398496,20.804511,25.451128,339.503759,354.503759,0.533835,-4.646617,-15.000000,23.015152,18.626866,349.651515,329.507463,1.196970,1.731343
Arizona Cardinals,133.0,0.383459,21.210526,24.646617,331.909774,350.000000,0.120301,-3.436090,-18.090226,22.045455,20.388060,342.545455,321.432836,1.378788,1.208955
Atlanta Falcons,134.0,0.432836,22.149254,24.029851,352.141791,355.850746,0.201493,-1.880597,-3.708955,23.590909,20.750000,364.045455,340.588235,1.363636,1.294118
Indianapolis Colts,135.0,0.466667,22.807407,23.570370,339.222222,347.570370,-0.133333,-0.762963,-8.348148,24.348485,21.333333,350.409091,328.521739,1.257576,1.420290
New York Giants,134.0,0.305970,18.179104,24.470149,312.865672,361.589552,0.149254,-6.291045,-48.723881,17.075758,19.250000,307.893939,317.691176,1.560606,1.205882
Denver Broncos,133.0,0.398496,19.804511,22.022556,322.496241,337.669173,0.112782,-2.218045,-15.172932,21.015152,18.611940,328.121212,316.955224,1.348485,1.447761
Carolina Panthers,133.0,0.353383,20.172932,25.112782,319.458647,345.233083,0.323308,-4.939850,-25.774436,20.803030,19.552239,324.272727,314.716418,1.378788,1.507463
Baltimore Ravens,141.0,0.638298,26.148936,19.120567,371.404255,316.234043,-0.184397,7.028369,55.170213,27.140845,25.142857,372.605634,370.185714,1.211268,1.100000
Los Angeles Rams,145.0,0.606897,24.882759,21.820690,358.986207,335.813793,-0.117241,3.062069,23.172414,25.000000,24.493151,360.027778,357.232877,1.208333,1.260274
Cincinnati Bengals,138.0,0.463768,22.659420,23.884058,330.188406,367.137681,0.014493,-1.224638,-36.949275,23.632353,21.690141,343.647059,316.943662,1.352941,1.183099
Tennessee Titans,139.0,0.496403,21.633094,22.474820,325.316547,345.532374,0.115108,-0.841727,-20.215827,22.794118,20.521127,330.720588,320.140845,1.147059,1.450704
Jacksonville Jaguars,137.0,0.364964,20.058394,23.445255,330.934307,354.379562,0.335766,-3.386861,-23.445255,20.132353,19.985507,333.852941,328.057971,1.426471,1.623188

In [56]:
# Rounding the columns based on the suggested decimal places for 'team_stats' DataFrame

team_stats['Win_Rate'] = team_stats['Win_Rate'].round(2)           # Round to 2 decimal places
team_stats['Avg_PtsScored'] = team_stats['Avg_PtsScored'].round(2) # Round to 2 decimal places
team_stats['Avg_PtsAllowed'] = team_stats['Avg_PtsAllowed'].round(2) # Round to 2 decimal places
team_stats['Avg_Yards'] = team_stats['Avg_Yards'].round(2)         # Round to 2 decimal places
team_stats['Avg_YardsAllowed'] = team_stats['Avg_YardsAllowed'].round(2) # Round to 2 decimal places
team_stats['Avg_TurnoverDiff'] = team_stats['Avg_TurnoverDiff'].round(2) # Round to 2 decimal places
team_stats['Avg_PointDiff'] = team_stats['Avg_PointDiff'].round(2) # Round to 2 decimal places
team_stats['Avg_YardDiff'] = team_stats['Avg_YardDiff'].round(2)   # Round to 2 decimal places
team_stats['Home_PtsScored'] = team_stats['Home_PtsScored'].round(2) # Round to 2 decimal places
team_stats['Away_PtsScored'] = team_stats['Away_PtsScored'].round(2) # Round to 2 decimal places
team_stats['Home_Yards'] = team_stats['Home_Yards'].round(2)       # Round to 2 decimal places
team_stats['Away_Yards'] = team_stats['Away_Yards'].round(2)       # Round to 2 decimal places
team_stats['Home_Turnover'] = team_stats['Home_Turnover'].round(2) # Round to 2 decimal places
team_stats['Away_Turnover'] = team_stats['Away_Turnover'].round(2) # Round to 2 decimal places# Round to 2 decimal places

In [57]:
print(team_stats)

                       Total_Games  Win_Rate  Avg_PtsScored  Avg_PtsAllowed  \
Kansas City Chiefs           154.0      0.76          27.60           21.21
Philadelphia Eagles          147.0      0.63          25.35           21.41
Pittsburgh Steelers          137.0      0.58          21.93           21.11
Buffalo Bills                145.0      0.64          25.23           20.30
New Orleans Saints           139.0      0.59          25.07           21.02
Chicago Bears                134.0      0.40          19.91           21.84
New England Patriots         140.0      0.53          22.89           20.26
Houston Texans               139.0      0.42          21.45           24.26
Miami Dolphins               134.0      0.49          21.84           24.22
Minnesota Vikings            138.0      0.59          23.98           22.36
Seattle Seahawks             137.0      0.57          24.12           22.75
Los Angeles Chargers         136.0      0.51          23.60           22.32
Dallas Cowboys               138.0      0.57          25.48           22.38
Tampa Bay Buccaneers         142.0      0.52          25.53           23.15
Detroit Lions                136.0      0.47          24.79           25.25
San Francisco 49ers          144.0      0.54          24.78           21.84
Cleveland Browns             135.0      0.40          20.59           24.20
Green Bay Packers            140.0      0.59          24.56           22.11
Washington Commanders        136.0      0.42          20.65           24.51
New York Jets                132.0      0.31          17.89           24.38
Las Vegas Raiders            133.0      0.40          20.80           25.45
Arizona Cardinals            133.0      0.38          21.21           24.65
Atlanta Falcons              134.0      0.43          22.15           24.03
Indianapolis Colts           135.0      0.47          22.81           23.57
New York Giants              134.0      0.31          18.18           24.47
Denver Broncos               133.0      0.40          19.80           22.02
Carolina Panthers            133.0      0.35          20.17           25.11
Baltimore Ravens             141.0      0.64          26.15           19.12
Los Angeles Rams             145.0      0.61          24.88           21.82
Cincinnati Bengals           138.0      0.46          22.66           23.88
Tennessee Titans             139.0      0.50          21.63           22.47
Jacksonville Jaguars         137.0      0.36          20.06           23.45

                       Avg_Yards  Avg_YardsAllowed  Avg_TurnoverDiff  \
Kansas City Chiefs        382.82            346.39             -0.26
Philadelphia Eagles       358.67            329.25             -0.09
Pittsburgh Steelers       331.85            330.91             -0.36
Buffalo Bills             356.86            321.41             -0.36
New Orleans Saints        351.35            333.93             -0.27
Chicago Bears             309.85            332.82             -0.05
New England Patriots      342.53            330.06             -0.20
Houston Texans            332.35            360.38             -0.11
Miami Dolphins            329.93            350.35              0.14
Minnesota Vikings         355.27            347.25             -0.20
Seattle Seahawks          343.99            360.77             -0.28
Los Angeles Chargers      360.23            340.68             -0.14
Dallas Cowboys            367.49            338.39             -0.17
Tampa Bay Buccaneers      377.52            347.46              0.05
Detroit Lions             360.35            372.43             -0.01
San Francisco 49ers       368.94            316.88              0.15
Cleveland Browns          339.12            338.82              0.42
Green Bay Packers         354.01            337.66             -0.26
Washington Commanders     320.91            349.83              0.15
New York Jets             295.27            344.27              0.35
Las Vegas Raiders         339.50            354.50              0.53
Arizona Cardinals         331.91            350.00              0.12
Atlanta Falcons           352.14            355.85              0.20
Indianapolis Colts        339.22            347.57             -0.13
New York Giants           312.87            361.59              0.15
Denver Broncos            322.50            337.67              0.11
Carolina Panthers         319.46            345.23              0.32
Baltimore Ravens          371.40            316.23             -0.18
Los Angeles Rams          358.99            335.81             -0.12
Cincinnati Bengals        330.19            367.14              0.01
Tennessee Titans          325.32            345.53              0.12
Jacksonville Jaguars      330.93            354.38              0.34

                       Avg_PointDiff  Avg_YardDiff  Home_PtsScored  \
Kansas City Chiefs              6.39         36.44           26.76
Philadelphia Eagles             3.94         29.41           26.15
Pittsburgh Steelers             0.82          0.94           24.03
Buffalo Bills                   4.94         35.45           26.39
New Orleans Saints              4.05         17.42           26.11
Chicago Bears                  -1.93        -22.97           20.94
New England Patriots            2.63         12.47           23.93
Houston Texans                 -2.81        -28.04           22.74
Miami Dolphins                 -2.37        -20.43           23.74
Minnesota Vikings               1.62          8.01           24.97
Seattle Seahawks                1.36        -16.78           24.63
Los Angeles Chargers            1.29         19.54           23.82
Dallas Cowboys                  3.09         29.10           28.43
Tampa Bay Buccaneers            2.37         30.06           24.63
Detroit Lions                  -0.46        -12.08           27.10
San Francisco 49ers             2.94         52.06           25.53
Cleveland Browns               -3.61          0.30           20.05
Green Bay Packers               2.45         16.34           24.84
Washington Commanders          -3.87        -28.92           20.24
New York Jets                  -6.48        -49.00           19.91
Las Vegas Raiders              -4.65        -15.00           23.02
Arizona Cardinals              -3.44        -18.09           22.05
Atlanta Falcons                -1.88         -3.71           23.59
Indianapolis Colts             -0.76         -8.35           24.35
New York Giants                -6.29        -48.72           17.08
Denver Broncos                 -2.22        -15.17           21.02
Carolina Panthers              -4.94        -25.77           20.80
Baltimore Ravens                7.03         55.17           27.14
Los Angeles Rams                3.06         23.17           25.00
Cincinnati Bengals             -1.22        -36.95           23.63
Tennessee Titans               -0.84        -20.22           22.79
Jacksonville Jaguars           -3.39        -23.45           20.13

                       Away_PtsScored  Home_Yards  Away_Yards  Home_Turnover  \
Kansas City Chiefs              28.58      372.73      399.26           0.96
Philadelphia Eagles             24.77      362.85      358.63           1.09
Pittsburgh Steelers             19.87      341.41      325.70           1.26
Buffalo Bills                   24.00      353.44      360.53           1.15
New Orleans Saints              23.96      359.28      342.82           1.24
Chicago Bears                   18.88      315.63      304.07           1.16
New England Patriots            22.10      348.83      339.03           1.20
Houston Texans                  20.13      340.97      320.43           1.17
Miami Dolphins                  20.00      340.41      319.75           1.32
Minnesota Vikings               23.01      365.01      347.64           1.25
Seattle Seahawks                23.63      341.15      346.71           1.09
Los Angeles Chargers            23.40      367.88      353.01           1.17
Dallas Cowboys                  22.52      386.74      348.25           1.33
Tampa Bay Buccaneers            26.36      379.49      376.06           1.72
Detroit Lions                   22.42      367.03      354.82           1.20
San Francisco 49ers             23.92      370.92      366.85           1.49
Cleveland Browns                21.10      333.95      344.06           1.62
Green Bay Packers               24.29      361.30      346.71           0.94
Washington Commanders           21.04      323.63      319.65           1.70
New York Jets                   15.88      324.77      265.77           1.45
Las Vegas Raiders               18.63      349.65      329.51           1.20
Arizona Cardinals               20.39      342.55      321.43           1.38
Atlanta Falcons                 20.75      364.05      340.59           1.36
Indianapolis Colts              21.33      350.41      328.52           1.26
New York Giants                 19.25      307.89      317.69           1.56
Denver Broncos                  18.61      328.12      316.96           1.35
Carolina Panthers               19.55      324.27      314.72           1.38
Baltimore Ravens                25.14      372.61      370.19           1.21
Los Angeles Rams                24.49      360.03      357.23           1.21
Cincinnati Bengals              21.69      343.65      316.94           1.35
Tennessee Titans                20.52      330.72      320.14           1.15
Jacksonville Jaguars            19.99      333.85      328.06           1.43

                       Away_Turnover
Kansas City Chiefs              1.26
Philadelphia Eagles             1.44
Pittsburgh Steelers             1.30
Buffalo Bills                   1.37
New Orleans Saints              0.93
Chicago Bears                   1.55
New England Patriots            1.25
Houston Texans                  1.32
Miami Dolphins                  1.57
Minnesota Vikings               1.31
Seattle Seahawks                1.06
Los Angeles Chargers            1.17
Dallas Cowboys                  1.22
Tampa Bay Buccaneers            1.29
Detroit Lions                   1.25
San Francisco 49ers             1.43
Cleveland Browns                1.74
Green Bay Packers               1.17
Washington Commanders           1.16
New York Jets                   1.58
Las Vegas Raiders               1.73
Arizona Cardinals               1.21
Atlanta Falcons                 1.29
Indianapolis Colts              1.42
New York Giants                 1.21
Denver Broncos                  1.45
Carolina Panthers               1.51
Baltimore Ravens                1.10
Los Angeles Rams                1.26
Cincinnati Bengals              1.18
Tennessee Titans                1.45
Jacksonville Jaguars            1.62

In [58]:
#Save Data as CSV
team_stats.to_csv('Team_Stats.csv', index=True)